<template>
  <div id="pageTop" class="uk-container account-add">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/account">{{
          $t("pages.menu.options.account")
        }}</router-link>
      </li>
      <li v-if="createMode">
        <span>{{ $t("pages.menu.options.register") }}</span>
      </li>
    </ul>

    <div v-if="editMode" class="uk-width-1-1 uk-margin-large">
      <div
        class="account__card uk-card uk-card-default uk-width-1-2@m uk-align-center"
      >
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="50"
                height="50"
                src="@/assets/avatar.png"
              />
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">
                {{ form.name }}
              </h3>
              <p class="uk-text-meta uk-margin-remove-top">
                <span class="uk-text-meta avatar-email">{{ form.email }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            {{ form.firstName }} {{ form.lastName }}<br />
            <span uk-icon="icon: receiver" /> {{ form.phone }}<br />
            <span uk-icon="icon: hashtag" /> {{ form.nif }}
          </p>
          <p>
            {{ form.address1 }}<br />
            {{ form.address2 }}<br v-if="form.address2" />
            {{ form.zipcode4 }}-{{ form.zipcode3 }} {{ form.zipcode_location
            }}<br />
          </p>
          <br />
          <button
            class="uk-button uk-button-secondary uk-margin"
            @click="logout"
          >
            <span uk-icon="unlock" /> {{ $t("pages.menu.options.logout") }}
          </button>
        </div>
        <div class="uk-card-footer">
          <button @click="edit()" class="uk-button uk-button-text">
            <span uk-icon="pencil" /> Modificar...
          </button>
        </div>
      </div>
    </div>

    <section v-if="createMode || showEdit">
      <div v-if="createMode">
        <h2 class="uk-heading-bullet">
          {{ $t("pages.account.register.header") }}
        </h2>
        <h4>{{ $t("pages.account.register.subheader") }}</h4>
      </div>
      <div v-if="editMode">
        <h2 class="uk-heading-bullet">{{ $t("pages.account.edit.header") }}</h2>
      </div>
      <hr />

      <div id="messageKey" v-if="messageKey" class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close />
        <p>{{ $t(messageKey) }}</p>
      </div>

      <form
        action="#"
        class="uk-fieldset expand@m uk-width-3-4@l"
        onsubmit="return false"
      >
        <section class="uk-grid uk-form-stacked" uk-grid>
          <legend class="uk-legend">Informação Pessoal</legend>

          <div class="uk-width-1-2@s">
            <input
              class="uk-input"
              type="text"
              name="firstName"
              v-model="form.firstName"
              placeholder="Nome"
              v-validate="'required|min:3|alpha'"
              :class="{ 'vld-error': errors.has('firstName') }"
            />
          </div>
          <div class="uk-width-1-2@s">
            <input
              class="uk-input"
              type="text"
              name="lastName"
              v-model="form.lastName"
              placeholder="Apelido"
              v-validate="'required|min:3|alpha'"
              :class="{ 'vld-error': errors.has('lastName') }"
            />
          </div>
          <div class="uk-width-1-1">
            <div v-if="createMode" class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: mail" />
              <input
                class="uk-input"
                type="email"
                name="email"
                v-model="form.email"
                placeholder="nome@email.com"
                v-validate="'required|email'"
                :class="{ 'vld-error': errors.has('email') }"
              />
            </div>
            <div v-if="editMode" class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: mail" />
              <input
                class="uk-input"
                type="email"
                name="email"
                v-model="form.email"
                disabled
              />
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: receiver" />
              <input
                class="uk-input"
                type="number"
                name="phone"
                v-model="form.phone"
                placeholder="Contacto"
                v-validate="'required|digits:9|numeric'"
                :class="{ 'vld-error': errors.has('phone') }"
              />
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: hashtag" />
              <input
                class="uk-input"
                type="number"
                name="nif"
                v-model="form.nif"
                placeholder="NIF"
                v-validate="'required|digits:9|numeric'"
                :class="{ 'vld-error': errors.has('nif') }"
              />
            </div>
          </div>

          <legend class="uk-legend">Morada</legend>

          <div class="uk-width-1-1">
            <input
              class="uk-input"
              type="text"
              name="address1"
              v-model="form.address1"
              placeholder="Morada"
              v-validate="'required|min:6'"
              :class="{ 'vld-error': errors.has('address1') }"
            />
          </div>
          <div class="uk-width-1-1">
            <input
              class="uk-input"
              type="text"
              name="address2"
              v-model="form.address2"
              placeholder="Morada (continuação)"
            />
          </div>

          <div class="uk-width-1-4@s">
            <label class="uk-form-label" for="zipcode4">Código Postal</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="number"
                name="zipcode4"
                v-model="form.zipcode4"
                maxlength="4"
                placeholder="0000"
                v-validate="'required|digits:4|numeric'"
                :class="{ 'vld-error': errors.has('zipcode4') }"
              />
            </div>
          </div>
          <div class="uk-width-1-4@s">
            <label class="uk-form-label" for="zipcode4">&nbsp;</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="number"
                name="zipcode3"
                v-model="form.zipcode3"
                maxlength="3"
                placeholder="000"
                v-validate="'required|digits:3|numeric'"
                :class="{ 'vld-error': errors.has('zipcode3') }"
              />
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="zipcode4">&nbsp;</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="text"
                name="zipcode_location"
                v-model="form.zipcode_location"
                maxlength="100"
                placeholder="Localidade"
                v-validate="'required|min:2'"
                :class="{ 'vld-error': errors.has('zipcode_location') }"
              />
            </div>
          </div>

          <legend class="uk-legend">Pagamento & Entregas</legend>

          <div class="uk-margin-small uk-width-1-1">
            <label class="uk-form-label" for="paymentInstrument"
              >Método pagamento preferencial</label
            >
            <div class="uk-form-controls">
              <select
                class="uk-select"
                name="paymentInstrument"
                v-model="form.paymentInstrument"
              >
                <option value="CTE">Contra entrega</option>
                <option value="TRF">Transferência bancária</option>
              </select>
            </div>
          </div>
          <div class="uk-margin uk-width-1-1">
            <label class="uk-form-label" for="shippingMethod"
              >Método envio preferencial</label
            >
            <div class="uk-form-controls">
              <select
                class="uk-select"
                name="shippingMethod"
                v-model="form.shippingMethod"
              >
                <option value="CTT">CTT</option>
                <option value="LOJA">Levantar na Loja</option>
              </select>
            </div>
          </div>

          <div class="uk-width-1-1 uk-margin-large">
            <button
              v-if="createMode"
              class="uk-button uk-button-primary"
              @click="register()"
              :disabled="submitDisabled"
            >
              Submeter
            </button>
            <button
              v-if="editMode"
              class="uk-button uk-button-primary"
              @click="saveChanges()"
              :disabled="submitDisabled"
            >
              Guardar alterações
            </button>
            <div v-if="submitDisabled && !isFormValid" class="uk-margin">
              <i uk-icon="warning" class="uk-margin-small-right"></i>
              <span class="uk-text-danger">Formulário contém erros</span>
            </div>
          </div>
        </section>
      </form>
    </section>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters } from "vuex";

const CONTEXT = {
  CREATE: "CREATE",
  EDIT: "EDIT"
};

export default {
  name: "AccountAdd",
  computed: {
    ...mapGetters(["validationEmailSent"]),
    editMode() {
      return this.context === CONTEXT.EDIT;
    },
    createMode() {
      return this.context === CONTEXT.CREATE;
    },
    isFormValid() {
      return this.errors.count() <= 0;
    },
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    },
    submitDisabled() {
      return !this.isFormDirty || !this.isFormValid || this.validationEmailSent;
    }
  },
  data() {
    return {
      context:
        this.$router.currentRoute.name === "accountEdit"
          ? CONTEXT.EDIT
          : CONTEXT.CREATE,
      form: {
        nif: null,
        firstName: null,
        lastName: null,
        email: null,
        phone: null,
        address1: null,
        address2: null,
        zipcode4: null,
        zipcode3: null,
        zipcode_location: null,
        paymentInstrument: "CTE",
        shippingMethod: "CTT",
        avatar: "acm-avatar.png"
      },
      userId: 0,
      messageKey: null,
      showEdit: false
    };
  },
  mounted() {
    if (this.editMode) {
      this.loadAccountData();
    }
  },
  methods: {
    edit(ev) {
      this.showEdit = !this.showEdit;
    },
    loadAccountData() {
      const id = this.$store.getters.account.id;
      if (!id) {
        UIkit.modal.alert(this.$t("pages.account.edit.loadError"));
        return console.error("Invalid Account ID!");
      }
      this.userId = id;
      Vue.axios
        .get(`/realm/customer/${id}`)
        .then(r => {
          if (r && r.data) {
            Object.assign(this.form, { ...r.data[0] });
          }
        })
        .catch(ex => {
          console.error(ex);
          UIkit.modal.alert(this.$t("pages.account.edit.loadError"));
        });
    },
    signalInvalidFields() {
      UIkit.modal.alert(this.$t("pages.account.register.invalidFields"));
    },
    redirectHome() {
      setTimeout(() => {
        this.$router.push("/");
      }, 600);
    },
    redirectLogin() {
      setTimeout(() => {
        this.$router.push("/login");
      }, 1200);
    },
    saveChanges() {
      !this.submitDisabled &&
        this.$validator.validateAll().then(valid => {
          if (valid) {
            this.$store
              .dispatch("accountUpdate", { id: this.userId, form: this.form })
              .then(response => {
                console.info("account.update:", { response });
                if (response.status !== 200) {
                  console.info("account.update.nok:", { response });
                  return UIkit.modal.alert(this.$t("pages.account.edit.fail"));
                }
                UIkit.modal.alert(this.$t("pages.account.edit.success"));
              });
          } else {
            this.signalInvalidFields();
          }
        });
    },
    register() {
      !this.submitDisabled &&
        this.$validator.validateAll().then(result => {
          if (result) {
            this.$store
              .dispatch("register", { ...this.form })
              .then(response => {
                console.info("register.ok:", response);
                UIkit.modal
                  .alert(this.$t("pages.account.register.checkYourEmail"))
                  .then(() => {
                    this.redirectHome();
                  });
              });
          } else {
            this.signalInvalidFields();
          }
        });
    },
    getAvatar() {
      return `https://www.acessmotos.com/uploads/avatar.png`;
    },
    logout() {
      this.$store.dispatch("logout").then(() => this.redirectHome());
    }
  }
};
</script>

<style lang="scss">
.account-add {
  text-align: left;

  .account__card {
    min-width: 75%;
  }

  .avatar-email {
    color: $color-orange;
  }

  @media (max-width: 425px) {
    .account__card {
      min-width: 100%;
    }
  }

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }

  .vld-error {
    border: 1px solid $color-grey;
    border-left: 6px solid $color-orange;
  }
}
</style>
