<template>
  <div class="uk-container account-activate">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/account">{{
          $t("pages.menu.options.account")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.activateAccount") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.account.activation.header") }}
    </h2>
    <h4>{{ $t("pages.account.activation.subheader") }}</h4>
    <hr />

    <div class="activate-container uk-margin">
      <div class="activate-form">
        <div
          v-if="activateMessageKey"
          :class="activateMessageKeyClass"
          uk-alert
        >
          <a class="uk-alert-close" uk-close />
          <p>{{ $t(activateMessageKey) }}</p>
        </div>

        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user" />
            <input
              class="uk-input uk-form-blank"
              type="text"
              name="email"
              v-model="form.email"
              placeholder="Email"
              disabled
            />
          </div>
        </div>

        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock" />
            <input
              class="uk-input"
              :type="passwordFieldType"
              name="password"
              v-model="form.password"
              :placeholder="$t('pages.account.activation.passwordLabel')"
              minlength="5"
              maxlength="130"
              :disabled="!isHashValid || isActivated"
              v-validate="'required|min:5|confirmed:confirmPassword'"
              :class="{ 'vld-error': errors.has('password') }"
            />
          </div>
        </div>

        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock" />
            <input
              class="uk-input"
              :type="passwordFieldType"
              name="confirmPassword"
              ref="confirmPassword"
              v-model="confirmPassword"
              :placeholder="$t('pages.account.activation.confirmPasswordLabel')"
              minlength="5"
              maxlength="130"
              :disabled="!isHashValid || isActivated"
              v-validate="'required|min:5'"
              :class="{ 'vld-error': errors.has('confirmPassword') }"
            />
          </div>
        </div>

        <div v-if="isHashValid">
          <button
            class="uk-button uk-button-text uk-align-right reveal-password-link"
            @click="onRevealPasswordClick()"
          >
            <span :uk-icon="passworLockIcon" />
            {{
              $t(
                `pages.account.activation.${
                  showPassword ? "passwordHideLabel" : "passwordShowLabel"
                }`
              )
            }}
          </button>
        </div>

        <div v-if="isHashValid" class="uk-margin-small">
          <small
            class="vld-hint"
            :class="{
              'vld-hint--error':
                isFormDirty &&
                !errors.has('confirmPassword') &&
                !isPasswordValid
            }"
            >{{ $t("pages.account.activation.passwordHintLabel") }}</small
          >
        </div>

        <div class="uk-margin">
          <button
            class="uk-button uk-button-primary uk-width-1-1 uk-margin"
            @click="onActivateClick()"
            :disabled="submitDisabled"
          >
            Activar
          </button>
        </div>

        <div v-if="isActivated" class="activate-message">
          <router-link to="/login">{{
            $t("pages.account.activation.activatedLogin")
          }}</router-link>
          <router-link class="uk-margin-small-left" to="/login/recover">{{
            $t("pages.account.activation.activatedRecover")
          }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { setItem } from "@/utils/localStorage";

// const strongRegex = new RegExp(
//   /^.*(?=.{8,})((?=.*[!@#$%^&*()\-_=+{};:,<.>]){1})(?=.*\d)((?=.*[a-z]){1})((?=.*[A-Z]){1}).*$/
// );

export default {
  name: "AccountActivate",
  data() {
    return {
      hash: null,
      isHashValid: false,
      isActivated: false,
      form: {
        email: null,
        password: null
      },
      confirmPassword: null,
      showPassword: false,
      activateMessageKey: null,
      activateMessageKeyClass: null
    };
  },
  computed: {
    passworLockIcon() {
      return this.showPassword ? "unlock" : "lock";
    },
    passwordFieldType() {
      return this.showPassword ? "text" : "password";
    },
    isPasswordValid() {
      return !this.form.password ? false : this.form.password.length >= 8; // strongRegex.test(this.form.password) ? true : false;
    },
    isFormValid() {
      return (
        this.isHashValid && this.errors.count() <= 0 && this.isPasswordValid
      );
    },
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    },
    submitDisabled() {
      return !this.isFormDirty || !this.isFormValid || this.validationEmailSent;
    }
  },
  methods: {
    onRevealPasswordClick() {
      this.showPassword = !this.showPassword;
    },
    displayMessage(key, success) {
      this.activateMessageKeyClass = success
        ? "uk-alert-success"
        : "uk-alert-danger";
      this.activateMessageKey = key || "error.general";
    },
    handleError(response) {
      this.displayMessage(response.data.t, false);
    },
    handleResponse(result, activation = false) {
      let status = null;
      let data = null;

      if (result.response) {
        status =
          result.response && result.response.status
            ? parseInt(result.response.status)
            : null;
        data = result.response.data || null;
      } else {
        status = result.status || null;
        data = result.data || null;
      }

      if (status) {
        if (status === 200 && !activation) {
          const user = data[0];
          this.isHashValid = true;
          this.form.email = data.email;
          return true;
        }
        if (status === 200 && activation) {
          this.displayMessage(data.t, true);
          this.$store.dispatch("setEmail", data.email);
          return this.redirectLogin();
        }
        if (status === 409) {
          this.isActivated = true;
          this.form.email = data.email;
          this.confirmPassword = this.form.password = "*****";
          return this.handleError(result.response);
        }
        // 404, 500, unhandled status codes
        return this.handleError(result.response || result);
      }
      return this.handleError(result.response || result);
    },
    parseEmailLink() {
      const hash = this.$route.params.hash || null;
      if (hash) {
        this.hash = hash;
        this.$store
          .dispatch("loadFromHash", hash)
          .then(result => this.handleResponse(result));
      } else {
        this.isHashValid = false;
        this.activateMessageKey =
          "pages.account.activation.hashNotFoundOrInvalid";
      }
    },
    redirectLogin() {
      setTimeout(() => {
        this.$router.push("/login");
      }, 1200);
    },
    onActivateClick() {
      !this.submitDisabled &&
        this.$validator.validateAll().then(result => {
          if (result) {
            this.$store // Redux Store > global state obj
              .dispatch("activate", { hash: this.hash, body: this.form })
              .then(result => {
                console.info("activate.result:", { result });
                this.handleResponse(result, true);
              });
          }
        });
    }
  },
  mounted() {
    this.parseEmailLink();
  }
};
</script>

<style lang="scss">
.account-activate {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }

  .activate-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activate-message {
    color: $color-orange;
  }

  .activate-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 360px;
    padding-top: $spacing-m;
  }

  .vld-error {
    border: 1px solid $color-grey;
    border-left: 6px solid $color-orange;
  }

  .vld-hint {
    padding: 5px;

    &--error {
      background-color: $color-orange;
      color: $color-white;
    }
  }

  .reveal-password-link {
    font-size: 0.8em;
  }

  @media only screen and (max-width: 425px) {
    .activate-form {
      min-width: 290px;
      width: 100%;
    }
  }
}
</style>
