<template>
  <div class="uk-container account">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.account") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">{{ $t("pages.menu.options.account") }}</h2>
    <hr />

    <div
      class="account__card uk-card uk-card-default uk-width-1-2@m uk-align-center"
    >
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img
              class="uk-border-circle"
              width="50"
              height="50"
              src="@/assets/avatar.png"
            />
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              {{ account.name }}
            </h3>
            <p class="uk-text-meta uk-margin-remove-top">
              <small>{{ account.email }}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <p>
          {{ account.address1 }}<br />
          {{ account.address2 }}<br />
          {{ account.zipcode4 }}-{{ account.zipcode3 }}
          {{ account.zipcode_location }}<br />
        </p>
        <!-- <a href="#">Re-enviar link de activação...</a>
        <span
          class="uk-margin-small-left"
          uk-icon="question"
          uk-tooltip="title: Re-enviar link de activação"
        /> -->
        <br />
        <a
          href="#"
          class="uk-button uk-button-secondary uk-margin"
          @click="logout"
        >
          <span uk-icon="unlock" /> {{ $t("pages.menu.options.logout") }}
        </a>
      </div>
      <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">
          <span uk-icon="pencil" /> Modificar...
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Account",
  data() {
    return {
      account: {}
    };
  },
  mounted() {
    const id = this.$store.getters.account.id;
    if (!id) {
      return console.error("Invalid Account ID!");
    }
    Vue.axios
      .get(`/realm/customer/${id}`)
      .then(r => {
        this.account = r.data[0];
      })
      .catch(ex => console.error(ex));
  },
  methods: {
    redirectHome() {
      setTimeout(() => {
        this.$router.push("/");
      }, 1200);
    },
    getAvatar() {
      return `https://www.acessmotos.com/uploads/avatar.png`;
    },
    logout() {
      this.$store.dispatch("logout").then(() => this.redirectHome());
    }
  }
};
</script>

<style lang="scss">
.account {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
