<template>
  <section class="uk-container v-spacing--l login">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/account">{{
          $t("pages.menu.options.account")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.login") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">{{ $t("pages.login.header") }}</h2>
    <h4>{{ $t("pages.login.subheader") }}</h4>

    <div class="login-container v-spacing--m">
      <div class="login-form">
        <div v-if="authMessageKey" :class="authMessageKeyClass" uk-alert>
          <a class="uk-alert-close" uk-close />
          <p>{{ $t(authMessageKey) }}</p>
        </div>

        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user" />
            <input
              class="uk-input"
              type="text"
              name="email"
              v-model="input.email"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock" />
            <input
              class="uk-input"
              type="password"
              name="password"
              v-model="input.password"
              placeholder="Password"
            />
          </div>
        </div>
        <div>
          <button
            class="uk-button uk-button-primary uk-width-1-1 uk-margin"
            @click="onLoginClick()"
          >
            Login
          </button>
        </div>
        <div>
          <router-link class="uk-link-muted" to="/account/recover">
            <span uk-icon="question" /> Não se lembra da chave de acesso?
            Recuperar agora...
          </router-link>
        </div>
        <div class="uk-margin">
          <router-link class="uk-link-muted" to="/account/add">
            <span uk-icon="users" /> Sem registo? Registar nova conta...
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import Vue from "vue";
import { mapGetters } from "vuex";
import { setItem, removeItem } from "@/utils/localStorage";

export default {
  name: "Login",
  // computed: {
  //   ...mapGetters(["acmEmail"])
  // },
  data() {
    return {
      input: {
        email: this.$store.getters.acmEmail,
        password: null
      },
      authMessageKey: null,
      authMessageKeyClass: null
    };
  },
  methods: {
    redirectHome() {
      setTimeout(() => {
        this.$router.push("/");
      }, 1200);
    },
    authMessage(message, success) {
      this.authMessageKeyClass = success
        ? "uk-alert-success"
        : "uk-alert-danger";
      this.authMessageKey = message.t || "error.unknown";
    },
    handleSuccessfulLogin(result) {
      this.authMessage(result, true);
      this.redirectHome();
    },
    handleAuthException(result) {
      this.$store.dispatch("logout");
      this.authMessage(result, false);
    },
    handleLoginResult(result) {
      if (result && result.status && parseInt(result.status) === 200) {
        this.handleSuccessfulLogin(result.data);
      } else {
        this.handleAuthException(result.data);
      }
    },
    onLoginClick() {
      this.$store
        .dispatch("login", { ...this.input })
        .then(result => this.handleLoginResult(result));
    }
  }
};
</script>
<style lang="scss">
.login {
  min-height: 65vh;

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-message {
    color: $color-orange;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 360px;
    padding-top: $spacing-m;
  }

  button {
    margin-top: 10px;
  }

  @media only screen and (max-width: 425px) {
    .login-form {
      min-width: 290px;
      width: 100%;
    }
  }
}
</style>
