<template>
  <section class="uk-container v-spacing--l recover">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/account">{{
          $t("pages.menu.options.account")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.recover") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">{{ $t("pages.account.recover.header") }}</h2>
    <h4>{{ $t("pages.account.recover.subheader") }}</h4>

    <div class="recover-container v-spacing--m">
      <div class="recover-form">
        <div v-if="showMessage" class="uk-alert-success" uk-alert>
          <a class="uk-alert-close" uk-close />
          <p>{{ $t("pages.account.recover.emailSent") }}</p>
        </div>

        <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input
              class="uk-input"
              type="text"
              name="email"
              v-model="input.email"
              placeholder="Email"
            />
          </div>
        </div>
        <div>
          <button
            class="uk-button uk-button-primary uk-width-1-1 uk-margin"
            @click="onRecoverClick()"
          >
            {{ $t("pages.account.recover.submitLabel") }}
          </button>
        </div>
        <div>
          <router-link class="uk-link-muted" to="/account/add">
            <span uk-icon="users" /> Sem registo? Registar nova conta...
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from "vue";

export default {
  name: "Recover",
  data() {
    return {
      input: {
        email: null
      },
      showMessage: false
    };
  },
  methods: {
    redirectLogin() {
      setTimeout(() => {
        this.$router.push("/login");
      }, 2000);
    },
    handleEmailSent() {
      this.showMessage = true;
      this.redirectLogin();
    },
    normaliseEmail() {
      // replace all +plus and .dots
      return this.input.email
        .trim()
        .split("+")
        .join("[plus]")
        .split(".")
        .join("[dot]");
    },
    onRecoverClick() {
      if (this.input.email) {
        Vue.axios
          .get(`/customer/recover/${this.normaliseEmail()}`)
          .then(r => {
            this.handleEmailSent();
          })
          .catch(ex => console.error(ex));
      }
    }
  }
};
</script>
<style lang="scss">
.recover {
  min-height: 65vh;

  .recover-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-message {
    color: $color-orange;
  }

  .recover-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 360px;
    padding-top: $spacing-m;
  }

  button {
    margin-top: 10px;
  }

  @media only screen and (max-width: 425px) {
    .recover-form {
      min-width: 290px;
      width: 100%;
    }
  }
}
</style>
