$color-vue: #42b983;
$color-black: #191919;
$color-noir: #323232;
$color-white: #ffffff;
$color-smoke: #f2f2f2;
// kristine
$color-dark: #222334;
$color-grey: #94959d;
$color-blue: #1e87f0;
$color-blue-price: #4ea1f3;
$color-blue-light: rgba(31, 157, 234, 0.1);
$color-orange: #ff4500;
