@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_colors.scss";
@import "./_metrics.scss";
@import "./_mixins.scss";
@import "./_helpers.scss";

.site-search {
  width: 80%;
  margin-right: 30px;
  max-width: 240px;
  border-bottom: 1px solid $color-blue;
}

// // 1. Your custom variables and variable overwrites.
// $global-link-color: #da7d02;
// $inverse-global-color-mode: none;

// // 2. Import default variables and available mixins.
// @import "uikit/src/scss/variables-theme.scss";
// @import "uikit/src/scss/mixins-theme.scss";

// // 3. Your custom mixin overwrites.
// @mixin hook-card() {
//   color: #000;
// }

// // 4. Import UIkit.
// @import "uikit/src/scss/uikit-theme.scss";
