/* helpers */
.b1 {
  border: 1px solid rgba(214, 19, 19, 0.2) !important;
}

.b2 {
  border: 1px solid rgba(145, 19, 214, 0.2) !important;
}

.b3 {
  border: 1px solid rgba(19, 58, 214, 0.2) !important;
}

.b4 {
  border: 1px solid rgba(13, 150, 109, 0.2) !important;
}

.b5 {
  border: 1px solid rgba(220, 224, 8, 0.2) !important;
}

.full-with {
  width: 100%;
}
