$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;

$header-height: 80px;
$header-mobile-height: 40px;
$footer-height: 200px;

$cart-side-menu-width: 500px;

$border-radius: 3px;

.h-spacing- {
  &-xs {
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
  }
  &-s {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
  }
  &-m {
    padding-left: $spacing-m;
    padding-right: $spacing-m;
  }
  &-l {
    padding-left: $spacing-l;
    padding-right: $spacing-l;
  }
  &-xl {
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
  }
}

.l-spacing- {
  &-xs {
    padding-left: $spacing-xs;
  }
  &-s {
    padding-left: $spacing-s;
  }
  &-m {
    padding-left: $spacing-m;
  }
  &-l {
    padding-left: $spacing-l;
  }
  &-xl {
    padding-left: $spacing-xl;
  }
}

.r-spacing- {
  &-xs {
    margin-right: $spacing-xs;
  }
  &-s {
    margin-right: $spacing-s;
  }
  &-m {
    margin-right: $spacing-m;
  }
  &-l {
    margin-right: $spacing-l;
  }
  &-xl {
    margin-right: $spacing-xl;
  }
}

.v-spacing- {
  &-xs {
    margin-bottom: $spacing-xs;
  }
  &-s {
    margin-bottom: $spacing-s;
  }
  &-m {
    margin-bottom: $spacing-m;
  }
  &-l {
    margin-bottom: $spacing-l;
  }
  &-xl {
    margin-bottom: $spacing-xl;
  }
}
