// * {
//   user-select: none;
// }

// input {
//   user-select: element !important;
// }

// *,
// :after,
// :before {
//   box-sizing: border-box;
// }

// override MD font styles
body,
.md body {
  font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
}

// h1,
// h2,
// h3 {
//   margin: 0 0 20px 0;
// }

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// li {
//   display: inline-block;
//   margin: 0 10px;
// }

// a {
//   color: #42b983;
// }

// pre {
//   padding: 10px;
//   text-align: left;
// }

// input,
// textarea,
// select,
// button {
//   width: 100%;
//   font-size: 1em;
//   padding: 5px;
//   margin: 0;
// }
