<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/css/uikit.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/js/uikit.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/js/uikit-icons.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: "1031364143921408",
          autoLogAppEvents: true,
          xfbml: true,
          version: "v4.0"
        });
      };
    </script>
    <script
      async
      defer
      src="https://connect.facebook.net/pt_PT/sdk.js"
    ></script>

    <title>ACM</title>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but client doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
