<template>
  <div class="uk-container catalog">
    <ul v-if="isPartial" class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
    </ul>
    <!--header-->
    <h2 v-if="!isPartial" class="uk-heading-bullet">
      {{ $t("pages.catalog.header") }}
    </h2>
    <h2 v-if="isPartial" class="uk-heading-bullet">
      {{ categoryLabel }}
    </h2>

    <div v-if="!hasSelectedBike" class="uk-alert-warning" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <h5>{{ $t("pages.catalog.compatible.absent") }}</h5>
      <p>{{ $t("pages.catalog.compatible.absentTip") }}</p>
    </div>
    <br />

    <Spinner :loading="loading"></Spinner>

    <div v-if="!loading && !hasData" uk-alert class="uk-alert-danger">
      <h3>{{ $t("pages.catalog.error.noDataFound.label") }}</h3>
      <p v-if="!keyword && bike">
        {{
          $t("pages.catalog.error.noDataFoundBike.notice", {
            model: bike.label,
            year: bike.year
          })
        }}
      </p>
      <p v-if="!keyword && !bike">
        {{ $t("pages.catalog.error.noDataFound.notice") }}
      </p>
      <p v-if="keyword && bike">
        {{
          $t("pages.catalog.error.noDataFoundBike.noticeWithFilter", {
            keyword: keyword,
            model: bike.label,
            year: bike.year
          })
        }}
      </p>
      <p v-if="keyword && !bike">
        {{
          $t("pages.catalog.error.noDataFound.noticeWithFilter", {
            keyword: keyword
          })
        }}
      </p>
      <p v-if="keyword && bike">
        {{
          $t("pages.catalog.error.noDataFoundBike.noticeWithFilter2", {
            keyword: keyword,
            model: bike.label,
            year: bike.year
          })
        }}
      </p>
      <p v-if="keyword && !bike">
        {{
          $t("pages.catalog.error.noDataFound.noticeWithFilter2", {
            keyword: keyword
          })
        }}
      </p>
      <p class="uk-margin-bottom">
        <router-link to="/contacts" class="uk-link-reset">
          {{ $t("pages.catalog.error.noDataFound.link") }}
          <i uk-icon="link"></i>
        </router-link>
      </p>
    </div>

    <!-- pagination(top) -->
    <div
      v-if="!this.loading"
      class="uk-flex uk-flex-between uk-flex-middle uk-margin-bottom page-nav__top"
    >
      <div>
        <h5 v-if="hasSelectedBike || keyword">
          <span class="uk-margin-small-right bike-icon" uk-icon="tag"></span>
          {{ getNavigationTopLabel() }}
        </h5>
      </div>
      <div>
        <PageNavigation
          v-if="displayHelpers"
          :pageCount="pageCount"
          @onPagePrevious="onPagePrevious"
          @onPageNext="onPageNext"
        ></PageNavigation>
      </div>
    </div>

    <!-- product list -->
    <div
      v-if="!loading && hasData"
      class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match"
      uk-grid
    >
      <div v-for="product in catalogData.catalog" :key="product.id">
        <CatalogItem :product="product"></CatalogItem>
      </div>
    </div>
    <br />

    <!-- pagination(bottom) -->
    <div v-if="displayHelpers" class="uk-flex uk-flex-between">
      <div>
        <a href="#" uk-totop uk-scroll></a>
      </div>
      <div>
        <PageNavigation
          :pageCount="pageCount"
          @onPagePrevious="onPagePrevious"
          @onPageNext="onPageNext"
        ></PageNavigation>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from "vue";
  import { mapGetters, mapActions } from "vuex";
  import Spinner from "@/components/Spinner.vue";
  import CatalogItem from "@/components/CatalogItem.vue";
  import PageNavigation from "@/components/PageNavigation.vue";

  // TODO: find a way to access Vue.app.config...
  // const itemsPerPage = Vue.app.conf;
  const itemsPerPage = 12;
  const emptyCatalog = { catalog: [], count: 0, total: 0 };

  export default {
    name: "Catalog",

    computed: {
      ...mapGetters(["bike", "page", "searchBy", "keyword"]),
      displayHelpers() {
        return (
          !this.loading &&
          this.catalogData &&
          this.catalogData.total > itemsPerPage
        );
      },
      hasData() {
        return !this.loading && this.catalogData && this.catalogData.count > 0;
      },
      isPartial() {
        return this.$route.params.id || false;
      },
      categoryLabel() {
        return this.loading
          ? "A carregar..."
          : this.catalogData
          ? this.catalogData.catalog[0].type_description
          : "Catálogo";
      },
      pageCount() {
        const data = this.catalogData;
        if (!data || !data.count || !data.total) return 0;
        return data.count > 0
          ? Math.ceil(data.total / itemsPerPage) === 0
            ? 1
            : Math.ceil(data.total / itemsPerPage)
          : 0;
      },
      disablePrevious() {
        return this.page === 1;
      },
      disableNext() {
        return this.page === this.pageCount;
      },
      hasSelectedBike() {
        return this.bike && this.bike.id;
      }
    },

    data() {
      return {
        lastSearch: null,
        loading: true,
        catalogData: {},
        catalogItemData: {}
      };
    },

    methods: {
      ...mapActions(["pagePrevious", "pageNext", "addToCart"]),
      getNavigationTopLabel() {
        let label = "";

        if (this.keyword) {
          label = `FILTRO: ${this.keyword}`;
        }

        if (this.bike && this.bike.id) {
          label +=
            this.bike && this.bike.id
              ? `  ${this.bike.label} (${this.bike.year})`
              : null;
        }

        return label;
      },
      getFilterTooltipText() {
        return `title: ${this.$t("pages.global.filterTooltipPrefix")}:<br>${
          this.bike.label
        } (${this.bike.year})`;
      },
      getCatalogUri() {
        const bikeId = this.bike && this.bike.id ? this.bike.id : null;
        const bikeYear = this.bike && this.bike.year ? this.bike.year : null;
        const brandId = this.$route.params.id || null;
        if (brandId && bikeId) {
          return `/catalog/brand/${brandId}/bike/${bikeId}/${bikeYear}`; // filter: brand + bike + year
        }
        if (brandId && !bikeId) {
          return `/catalog/brand/${brandId}`; // filter: brand
        }
        if (!brandId && bikeId) {
          return `/catalog/bike/${bikeId}/${bikeYear}`; // filter: bike + year
        }
        return "/catalog"; // default
      },
      async getCatalog() {
        return await Vue.axios.get(this.getCatalogUri(), {
          params: {
            filter: this.searchBy,
            limit: itemsPerPage,
            page: this.page
          }
        });
      },
      loadCatalogData() {
        this.loading = true;
        this.getCatalog()
          .then(response => {
            this.catalogData = response.data ? response.data[0] : emptyCatalog;
            this.loading = false;
          })
          .catch(error => {
            this.catalogData = emptyCatalog;
            this.loading = false;
            console.error("\nError! ", error);
          });
      },
      onPagePrevious() {
        this.loadCatalogData();
      },
      onPageNext() {
        this.loadCatalogData();
      },
      // TODO: remap to work on any ENV!
      getThumbSrc(item) {
        return `https://www.acessmotos.com/uploads/${item.img_thumb}`;
      },
      getImageSrc(item) {
        return `https://www.acessmotos.com/uploads/${item.img_full}`;
      },
      displayProduct(id) {
        this.$router.push(`/product/${id}`);
      },
      getProductLink(id) {
        return `/product/${id}`;
      }
    },
    components: {
      Spinner,
      CatalogItem,
      PageNavigation
    },
    watch: {
      // bike changed, refresh
      bike: function() {
        if (this.$route.params.id) {
          this.$router.push("/"); // cannot tell if current type has valid data
        }
        this.loadCatalogData();
      },
      searchBy: function() {
        if (this.searchBy !== this.lastSearch) {
          this.lastSearch = this.searchBy; // save new query
          this.loadCatalogData();
        }
      }
    },

    created() {
      this.loadCatalogData();
    }
  };
</script>

<style lang="scss">
  .catalog {
    min-height: 60vh;

    .page-nav {
      color: $color-dark;

      &__top {
        flex-direction: row;
      }

      &--disabled {
        color: $color-grey;
      }
    }

    @media only screen and (max-width: 425px) {
      .page-nav__top {
        flex-direction: column;
      }
    }
  }
</style>
