<template>
  <div class="uk-container product">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/catalog">{{
          $t("pages.menu.options.catalog")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.product") }}</span>
      </li>
    </ul>
    <h2 v-if="!loading">{{ product.name }}</h2>
    <!-- <h4>{{ $t('pages.catalog.subheader') }}</h4> -->
    <hr />

    <Spinner :loading="loading" />

    <div
      v-if="!loading"
      class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match"
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top" uk-lightbox>
            <a :href="getImageSrc(product)" :data-caption="product.name">
              <img
                :data-src="getThumbSrc(product)"
                :alt="product.name"
                uk-img
              />
            </a>
          </div>
          <div class="uk-card-body">
            <h5 class="uk-heading-bullet">{{ product.name }}</h5>
            <small>Ref: {{ product.reference }}</small>
            <br />
            <div class="uk-flex uk-flex-center uk-flex-middle uk-margin">
              <div>
                <button
                  class="uk-button uk-button-default uk-button-small uk-form-icon-flip button-add-to-cart"
                  @click="addToCart(product)"
                >
                  <span uk-icon="icon: cart" />
                  <small class="uk-margin-small-left">{{
                    $t("pages.catalog.item.addToCartLabel")
                  }}</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import Spinner from "@/components/Spinner.vue";

export default {
  name: "Product",

  computed: {
    ...mapGetters(["products"])
  },

  data() {
    return {
      loading: true,
      product: null
    };
  },

  methods: {
    ...mapActions(["addToCart"]),
    async getProduct() {
      return await Vue.axios.get(`/catalog/product/${this.$route.params.id}`);
    },
    getThumbSrc(item) {
      return "https://www.acessmotos.com/uploads/" + item.img_thumb;
    },
    getImageSrc(item) {
      return "https://www.acessmotos.com/uploads/" + item.img_full;
    }
  },

  created() {
    this.getProduct()
      .then(response => {
        this.product = response.data;
        this.loading = false;
      })
      .catch(error => {
        if (error.response) {
          console.error("error.response:", error.response);
        } else if (error.request) {
          console.error("error.request:", error.request);
        } else {
          console.error("error.generic", error.message);
        }
        console.error("error.config", error.config);
      });
  },
  components: {
    Spinner
  }
};
</script>

<style lang="scss">
.product {
  min-height: 60vh;

  .button-add-to-cart > small {
    color: $color-grey;
  }
}
</style>
