<template>
  <div class="uk-flex uk-flex-center">
    <div
      class="uk-card uk-card-secondary uk-card-body uk-light uk-margin-large-top"
    >
      <h3 class="uk-card-title">PÁGINA NÃO ENCONTRADA</h3>
      <p>
        A página que tentou aceder não existe ou não se encontra disponível.
      </p>
      <div class="uk-card-footer">
        <router-link class="uk-button uk-button-text" to="/"
          >Voltar para o ínicio</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NotFound"
  };
</script>
