<template>
  <section class="uk-container test">
    <h3>[ FB TEST BED ]</h3>
    <div>
      <div>
        <h4 v-if="!authenticated">Welcome, stranger!</h4>
        <h4 v-if="authenticated">Yay, {{ user.name }}!</h4>

        <button class="uk-button uk-button-primary" @click="onPostClick">
          GET /me
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  import Vue from "vue";

  export default {
    name: "Test",
    computed: {
      authenticated: function() {
        return this.user && this.user.id;
      }
    },
    data() {
      return {
        user: null
      };
    },
    methods: {
      // loginWithFacebook() {
      //   const self = this;
      //   FB.login(function(response) {
      //     if (response.authResponse) {
      //       console.log("Welcome!  Fetching your information.... ");
      //       FB.api("/me", function(response) {
      //         self.user = response;
      //         console.log("Good to see you, " + response.name + ".");
      //       });
      //     } else {
      //       console.log("User cancelled login or did not fully authorize.");
      //     }
      //   });
      // },
      async postToFacebookPage() {
        const result = await Vue.axios
          .get(`/fb/me`)
          .catch(ex => console.warn(ex));
        return result;
      },
      onLoginClick() {
        this.loginWithFacebook();
      },
      onPostClick() {
        this.postToFacebookPage().then(result => {
          this.user = result.data;
          console.log(">> onPostClick:", { data: result.data });
        });
      }
    }
  };
</script>
<style lang="scss">
  .test {
    .login-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
