<template>
  <section class="bike-selector">
    <section>
      <p v-if="searchQuery" class="uk-text-emphasis v-spacing--xs">
        {{ $t("widgets.bikeSelector.selectorLabel") }}
      </p>
      <div
        class="uk-inline bike-selector__container"
        :class="{ 'v-spacing--l': hasYears }"
      >
        <a
          v-if="searchQuery"
          class="uk-form-icon uk-form-icon-flip uk-text-danger"
          href="#"
          uk-icon="icon: close"
          @click="clearMyBike"
        ></a>
        <suggestions
          v-model="searchQuery"
          :options="searchOptions"
          :on-item-selected="onSearchItemSelected"
          :on-input-change="onInputChange"
        >
          <div
            slot="item"
            slot-scope="props"
            class="single-item"
            :class="{
              'single-item--selected': props.item.label === searchQuery
            }"
          >
            <span class="name">{{ props.item.label }}</span>
          </div>
        </suggestions>
      </div>

      <div v-if="itemsCount >= 10">
        <span class="uk-margin-small-right" uk-icon="info"></span>
        <span class="uk-text-small">{{
          $t("widgets.bikeSelector.selectorHint")
        }}</span>
      </div>

      <div
        v-if="!years.valid"
        class="uk-alert-danger uk-margin uk-padding-small"
        uk-alert
      >
        <a class="uk-alert-close" uk-close></a>
        <p>{{ $t("widgets.bikeSelector.invalidBikeWarn") }}</p>
      </div>

      <div v-if="selectedSearchItem && hasYears">
        <p class="uk-text-emphasis v-spacing--xs">
          {{
            $t(
              years.selected
                ? "widgets.bikeSelector.selectedYear"
                : "widgets.bikeSelector.selectYear"
            )
          }}
        </p>
        <div>
          <button
            v-for="range in years.list"
            @click="onYearSelected(range)"
            class="uk-button uk-button-default uk-margin-right year-button"
            :class="{ 'uk-button-secondary': years.selected === range }"
          >
            {{ range }}
          </button>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

const maxSearchItems = 8;

export default {
  name: "BikeSelector",
  computed: {
    ...mapGetters(["bike"]),
    hasYears: function() {
      return this.years.list.length > 0;
    }
  },
  data() {
    return {
      searchQuery: "",
      selectedSearchItem: null,
      searchOptions: {
        inputClass: "uk-input",
        placeholder: this.$t("pages.home.selectMyBikeLabel"),
        debounce: 275
      },
      itemsCount: 0,
      years: {
        list: [],
        selected: null,
        valid: true
      }
    };
  },
  methods: {
    ...mapActions(["setMyBike", "resetMyBike", "loadBikeYearRange"]),

    onInputChange(query) {
      this.clearYearRange();
      if (query.trim().length === 0) {
        this.resetMyBike(); // dispatch
        return null;
      }
      return new Promise(resolve => {
        const items = [];
        Vue.axios
          .get(`/brand-model/search/${query}`, {
            params: { limit: maxSearchItems }
          })
          .then(response => {
            response.data.map(item => items.push(item));
            this.itemsCount = items.length;
          })
          .catch(ex => {
            console.warn("response.exception", {
              response: ex.response.data || ex
            });
          });
        resolve(items);
      });
    },

    onSearchItemSelected(item) {
      this.selectedSearchItem = item;
      this.searchQuery = item.label;
      this.refreshBikeYearRange(item);
    },

    onYearSelected(year) {
      const bike = this.selectedSearchItem;
      this.years.selected = year;
      Object.assign(bike, { year });
      // TODO: find a fix...
      this.setMyBike({ id: 0, label: "", year: 1900 }); // dispatch
      this.setMyBike(bike); // dispatch
    },

    clearYearRange() {
      this.years.list = [];
      this.years.selected = null;
      this.years.valid = true;
    },

    clearMyBike() {
      this.clearYearRange();
      this.searchQuery = "";
      this.resetMyBike(); // dispatch
    },

    handleInvalidYearRange() {
      this.years.valid = false;
    },

    mapRangeToYears(range) {
      if (range.data) {
        // no data found for this bike
        if (!range.data.years.length) {
          return this.handleInvalidYearRange();
        }
        // TODO: handle 9999 (all years!)
        // return list of compatible years
        return range.data.years
          .filter(yearRange => yearRange !== "9999")
          .map(yearRange => this.years.list.push(yearRange));
      }
    },

    refreshBikeYearRange(bike) {
      this.clearYearRange();
      this.loadBikeYearRange(bike.id).then(results =>
        this.mapRangeToYears(results)
      );
      this.years.selected = bike.year || null;
    }
  },

  mounted() {
    // recover persisted bike data
    if (this.bike) {
      this.refreshBikeYearRange(this.bike);
      this.searchQuery = this.bike.label;
      this.selectedSearchItem = this.bike;
    }
  }
};
</script>

<style lang="scss">
.bike-selector {
  display: block;
  z-index: 1000;

  &__container {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  .year-button {
    margin-bottom: 10px;
    min-width: 60px;
    line-height: 30px;
    padding: 0;
  }

  /* UL */
  .items {
    list-style-type: none;
    background-color: $color-blue;
    color: $color-white;

    /* LI */
    .item {
      cursor: pointer;

      &:hover {
        background-color: $color-noir;
        color: $color-white;
      }

      .single-item {
        padding: 5px 10px;

        &--selected {
          background-color: $color-grey;
          color: $color-white;

          &:hover {
            background-color: $color-noir;
          }
        }
      }
    }
  }
}
</style>
