<template>
  <div class="cart-item">
    <article class="uk-comment">
      <small :class="{ 'no-bike-warn': !hasBike }">{{ getBikeLabel() }}</small>
      <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img
            class="uk-comment-avatar"
            :data-src="getThumbSrc(product)"
            :alt="product.name"
            width="80"
            height="80"
            uk-img
          />
        </div>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove">
            <router-link class="uk-link-reset" :to="`/product/${product.id}`">{{
              product.name
            }}</router-link>
            <span
              v-if="!checkout"
              uk-icon="icon: trash;"
              class="remove-icon"
              @click="removeFromCart(product)"
            />
          </h4>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>
              Ref: {{ product.reference }}
            </div>
            <div>
              {{ product.price | currency }}
            </div>
          </div>
        </div>
      </header>
      <div v-if="!checkout" class="quantity">
        <ul class="uk-iconnav">
          <li>
            <span
              uk-icon="icon: minus-circle"
              @click="decrementQuantity(product)"
            />
          </li>
          <li>
            <span class="quantity--number">{{ product.quantity }}</span>
          </li>
          <li>
            <span
              uk-icon="icon: plus-circle"
              @click="incrementQuantity(product)"
            />
          </li>
        </ul>
      </div>
    </article>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "CartItem",
  props: {
    checkout: Boolean,
    full: Boolean,
    product: {
      type: Object,
      default: function() {
        return {
          id: 0,
          name: "",
          reference: "",
          price: 0,
          quantity: 0,
          bike: null
        };
      }
    }
  },
  computed: {
    ...mapGetters(["basket"]),
    hasBike() {
      return (
        this.product.bike && this.product.bike.id && this.product.bike.id > 0
      );
    }
  },
  methods: {
    ...mapActions(["incrementQuantity", "decrementQuantity", "removeFromCart"]),
    getThumbSrc(item) {
      return "https://www.acessmotos.com/uploads/" + item.img_thumb;
    },
    getBikeLabel() {
      if (!this.hasBike) return this.$t("pages.catalog.compatible.warn");
      return `${this.product.bike.label} (${this.product.bike.year})`;
    }
  }
};
</script>

<style lang="scss">
.cart-item {
  width: 100%;

  .uk-comment {
    padding: 0;
    margin: 0;
  }

  .no-bike-warn {
    padding: 2px 5px;
    background-color: $color-smoke;
    color: $color-orange;
    font-weight: bold;
  }

  .remove-icon {
    position: relative;
    bottom: 2px;
    margin-left: 10px;
    color: $color-orange;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .quantity {
    position: relative;
    bottom: 20px;
    left: 8px;
    padding: 0;
    margin: 0;

    &--number {
      font-weight: 600;
    }
  }
}
</style>
