<template>
  <div class="cart-totals uk-width-1-1">
    <div class="uk-grid-small" uk-grid>
      <div>{{ $t("pages.cart.totals.shippingMethodLabel") }}</div>
    </div>
    <div
      class="uk-margin uk-margin-small uk-grid-small uk-child-width-auto uk-grid"
    >
      <label
        ><input
          class="uk-radio"
          type="radio"
          name="paymentInstrument"
          value="TRF"
          :checked="paymentInstrument === 'TRF'"
          @change="onPaymentInstrumentChange"
        />
        {{ $t("pages.cart.totals.shippingCostLabelTRF") }}</label
      >
      <label
        ><input
          class="uk-radio"
          type="radio"
          name="paymentInstrument"
          value="CTE"
          :checked="paymentInstrument === 'CTE'"
          @change="onPaymentInstrumentChange"
        />
        {{ $t("pages.cart.totals.shippingCostLabelCTE") }}</label
      >
      <span
        uk-icon="icon: question"
        :uk-tooltip="$t('pages.cart.totals.shippingCostNotice')"
      />
    </div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand" uk-leader>
        {{ $t("pages.cart.totals.productsLabel") }}
      </div>
      <div>{{ basket.totals.products | currency }}</div>
    </div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand" uk-leader>
        {{ $t("pages.cart.totals.shippingCost") }}
      </div>
      <div v-show="basket.totals.shippingCost">
        {{ basket.totals.shippingCost | currency }}
      </div>
      <div v-show="!basket.totals.shippingCost">
        <i
          >{{ $t("pages.cart.totals.shippingCostUnknow") }}
          <span class="cart-notices__mark">*</span></i
        >
      </div>
    </div>
    <div class="uk-grid-small grand-total" uk-grid>
      <div class="uk-width-expand" uk-leader>
        {{ $t("pages.cart.totals.grandTotal") }}
      </div>
      <div>{{ basket.totals.grandTotal | currency }}</div>
    </div>
    <div v-show="!basket.totals.shippingCost" class="cart-notices">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand">
          <span class="cart-notices__mark">*</span>
          {{ $t("pages.cart.totals.shippingLabel") }}
          <span
            uk-icon="icon: question"
            :uk-tooltip="$t('pages.cart.shippingHint')"
          />
        </div>
      </div>
      <div class="tax-notice">
        <small>{{ $t("pages.global.taxIncluded", { taxRate: "23" }) }}</small>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "CartTotals",
  computed: {
    ...mapGetters(["account", "basket", "paymentInstrument"])
  },
  data() {
    return {
      ready: false,
      shippingPrices: null
    };
  },
  methods: {
    ...mapActions(["resetCart", "setPaymentInstrument"]),
    onPaymentInstrumentChange(ev) {
      this.setPaymentInstrument(ev.target.value);
    },
    getShippingTooltip() {
      return "title: " + this.$("pages.cart.shippingHint");
    }
  },
  mounted() {}
};
</script>

<style lang="scss">
.cart-totals {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;

  .grand-total {
    font-weight: 600;
  }

  .cart-notices {
    padding-top: 20px;

    &__mark {
      position: relative;
      bottom: 3px;
      font-size: 0.8em;
      color: red;
    }
  }

  .tax-notice {
    padding-top: 10px;
  }
}
</style>
