<template>
  <section class="cart-resume">
    <div>
      <div v-show="!basket.items.length">
        <h3>{{ $t("pages.cart.cartIsEmpty") }}</h3>
        <router-link to="/catalog">{{
          $t("pages.cart.continueLabel")
        }}</router-link>
      </div>

      <div
        v-show="basket.items.length"
        class="uk-align-center uk-grid-collapse"
        :class="fullStyles"
        uk-grid
      >
        <div
          class="uk-width-1-1 uk-padding-small uk-padding-remove-horizontal"
          v-for="p in basket.items"
        >
          <CartItem :product="p" :full="full" :checkout="checkout" />
        </div>
        <div class="uk-width-1-1 uk-padding-small uk-padding-remove-horizontal">
          <CartTotals />
        </div>
      </div>

      <div
        v-if="!checkout"
        class="uk-flex uk-flex-between uk-align-center cta-container"
        :class="fullStyles"
      >
        <div>
          <router-link to="/checkout">
            <button
              v-show="basket.items.length"
              class="uk-button uk-button-primary"
            >
              {{ $t("pages.cart.checkoutLabel") }}
            </button>
          </router-link>
        </div>
        <div>
          <button
            v-show="basket.items.length"
            class="uk-button uk-button-secondary"
            @click="reset"
          >
            {{ $t("pages.cart.resetLabel") }}
          </button>
        </div>
      </div>

      <div
        v-show="!full && basket.items.length"
        class="uk-flex uk-flex-between uk-align-center cta-container"
        :class="fullStyles"
      >
        <div>
          <router-link class="uk-link" to="/cart">{{
            $t("pages.cart.viewFullCart")
          }}</router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import CartItem from "@/components/CartItem.vue";
import CartTotals from "@/components/CartTotals.vue";

export default {
  name: "CartResume",
  props: {
    checkout: Boolean,
    full: Boolean
  },
  computed: {
    ...mapGetters(["basket"]),
    fullStyles: function() {
      return { "uk-width-1-1@m": this.full, "uk-width-3-4@l": this.full };
    }
  },
  methods: {
    ...mapActions(["resetCart"]),
    reset() {
      UIkit.modal.confirm(this.$t("pages.cart.resetMessage")).then(
        () => {
          this.resetCart();
        },
        () => {
          console.log("Cancel, no action done");
        }
      );
    }
    // checkout() {
    //   this.$router.push("/checkout");
    // }
  },
  components: {
    CartItem,
    CartTotals
  }
};
</script>

<style lang="scss">
.cart-resume {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;

  .grand-total {
    font-weight: 600;
  }

  .cta-container {
    margin-top: 40px;
  }
}
</style>
