<template>
  <div class="catalog-item uk-grid-item-match">
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <div class="uk-card-media-top" uk-lightbox>
          <a
            :href="getImageSrc(product)"
            :data-caption="getLightBoxDescription(product)"
          >
            <img
              class="uk-border-rounded"
              :data-src="getThumbSrc(product)"
              :alt="product.name"
              uk-img
            />
          </a>
        </div>
      </div>

      <div class="uk-flex-inline uk-flex-right uk-flex-middle price-container">
        <div class="price">
          <span class="uk-badge price--amount">{{ product.price }} &euro;</span>
        </div>
        <div class="cta-button">
          <button
            class="uk-button uk-button-small uk-border-circle add-to-cart add-to-cart--button"
            @click="addToCart(product)"
          >
            <i class="add-to-cart--icon" uk-icon="icon: cart; ratio: 2"></i>
          </button>
        </div>
      </div>

      <div class="uk-card-body">
        <div class="uk-flex uk-flex-column uk-flex-center">
          <small class="item-type uk-text-uppercase">
            {{ product.type_description }}
          </small>
          <div>
            <h4 class="item-title">{{ product.name }}</h4>
          </div>
          <div>
            <small class="item-ref uk-text-uppercase">
              Ref: {{ product.reference }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from "vue";
  import { mapGetters, mapActions } from "vuex";

  export default {
    name: "CatalogItem",
    props: {
      product: {
        type: Object,
        default: function() {
          return { id: 0, name: "", reference: "", price: 0, quantity: 0 };
        }
      }
    },
    // computed: {
    //   ...mapGetters(["basket"])
    // },
    methods: {
      ...mapActions(["addToCart"]),
      // TODO: remap to work on any ENV!
      getThumbSrc(item) {
        return `https://www.acessmotos.com/uploads/${item.img_thumb}`;
      },
      getImageSrc(item) {
        return `https://www.acessmotos.com/uploads/${item.img_full}`;
      },
      getProductLink(id) {
        return `/product/${id}`;
      },
      getLightBoxDescription(product) {
        return `${product.name} | REF: ${product.reference.toUpperCase()} | ${
          product.price
        } EUR`;
      }
    }
  };
</script>

<style lang="scss">
  .catalog-item {
    width: 100%;

    & .uk-border-rounded {
      width: 100%;
      object-fit: cover;
    }

    & .uk-card {
      min-width: 160px;
    }

    & .uk-card-body {
      margin: 0;
      padding: 0 20px 20px;
    }

    .price-container {
      min-width: 100%;
    }

    .price {
      position: relative;
      bottom: 18px;
      margin-left: 20px;
      min-width: 100px;

      &--amount {
        padding: 10px;
        border: 1px solid $color-smoke;
        background-color: $color-blue-price;
        font-size: 0.9em;
        cursor: default;
      }
    }

    .cta-button {
      position: relative;
      bottom: 19px;
      margin-right: 20px;
    }

    .item-title {
      font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
      font-size: 1.1em;
    }

    .item-type {
      font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
      color: $color-blue;
      padding-bottom: 10px;
    }

    .item-ref {
      font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
      color: $color-grey;
    }

    .add-to-cart {
      transition: all 0.2s ease-in-out;
      z-index: 900;

      &:hover {
        transform: scale(1.2);
      }

      &--button {
        width: 35px;
        height: 35px;
        background-color: $color-noir;
        border: 1px solid $color-smoke;
        padding: 0 10px;
      }

      &--icon {
        color: $color-white;
      }
    }

    @media only screen and (max-width: 425px) {
      .item-title {
        font-size: 1.2em;
      }

      .price {
        padding: 0;
        font-size: 1.4em;
        margin-right: 20px;
        bottom: 25px;

        &--amount {
          padding: 20px !important;
          font-size: 1.4em;
        }
      }

      .cta-button {
        bottom: 25px;
      }

      .add-to-cart--button {
        width: 50px;
        height: 50px;
      }
    }
    @media only screen and (max-width: 768px) {
      .item-title {
        font-size: 1.2em;
      }

      .price {
        padding: 0;
        font-size: 1.2em;
        margin-right: 20px;
        bottom: 25px;

        &--amount {
          padding: 20px !important;
          font-size: 1.2em;
        }
      }

      .cta-button {
        bottom: 25px;
      }

      .add-to-cart--button {
        width: 50px;
        height: 50px;
      }
    }
    @media only screen and (max-width: 959px) {
      .item-title {
        font-size: 1.2em;
      }

      .price {
        padding: 0;
        font-size: 1.2em;
        margin-right: 20px;
        bottom: 25px;

        &--amount {
          padding: 20px !important;
          font-size: 1.2em;
        }
      }

      .cta-button {
        bottom: 25px;
      }

      .add-to-cart--button {
        width: 50px;
        height: 50px;
      }
    }
    @media only screen and (max-width: 1024px) {
      .price {
        font-size: 1em;
        min-width: 90px;

        &--amount {
          font-size: 1em;
        }
      }
    }
    @media only screen and (min-width: 1440px) {
      .price--amount {
        padding: 14px 10px;
        font-size: 1.1em;
      }
    }
  }
</style>
