<template>
  <section class="client-message">
    <div>
      <form
        action="#"
        class="uk-fieldset expand@m uk-width-3-4@l"
        onsubmit="return false"
      >
        <section class="uk-grid uk-form-stacked uk-margin-large-top" uk-grid>
          <legend class="uk-legend">Mensagem para a Loja</legend>

          <div class="uk-width-1-1@s">
            <textarea
              class="uk-input client-message-box"
              type="text"
              name="clientMessage"
              v-model="basket.clientMessage"
              placeholder="(Opcional)"
              @blur="onClientMessageChange"
            ></textarea>
            <small
              :class="{
                'client-message-limit': true,
                'client-message-limit--error': overLimit
              }"
              >Max: 1000 caracteres</small
            >
          </div>
        </section>
      </form>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ClientMessage",
  computed: {
    ...mapGetters(["basket"]),
    overLimit: function() {
      return (
        this.basket &&
        this.basket.clientMessage &&
        this.basket.clientMessage.length > 1000
      );
    }
  },
  methods: {
    ...mapActions(["setClientMessage"]),
    onClientMessageChange(ev) {
      this.setClientMessage(ev.target.value);
    }
  }
};
</script>

<style lang="scss">
.client-message {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;

  .client-message-box {
    /* height: 200px !important; */
    min-height: 200px !important;
  }

  .client-message-limit {
    display: inline-block;
    padding: 4px 10px;
    color: silver;

    &--error {
      color: $color-white;
      background-color: $color-orange;
    }
  }
}
</style>
