<template>
  <section class="delivery-info">
    <div>
      <dl class="uk-description-list">
        <dt><h4>Informação Pessoal</h4></dt>
        <dd>
          <p>
            NIF: {{ form.nif }}<br />
            Nome: {{ form.firstName }}&nbsp;{{ form.lastName }}<br />
            Email: {{ form.email }}<br />
            Contacto: {{ form.phone }}
          </p>
        </dd>
        <dt class="uk-margin-top"><h4>Morada de Entrega</h4></dt>
        <dd>
          <span>{{ form.address1 }}</span
          ><br />
          <span>{{ form.address2 }}</span>
          <span
            >{{ form.zipcode4 }}-{{ form.zipcode3 }}&nbsp;{{
              form.zipcode_location
            }}</span
          >
        </dd>
        <dt class="uk-margin-top"><h4>Pagamento & Entregas</h4></dt>
        <dd>
          <p>
            Método pagamento:
            {{ getPaymentInstrumentLabel(form.paymentInstrument) }}<br />
            Método envio: {{ getShippingMethodLabel(form.shippingMethod) }}
          </p>
        </dd>
        <dt class="uk-margin-top"><h4>Mensagem para a loja</h4></dt>
        <dd>
          <p>{{ clientMessage }}<br /></p>
        </dd>
      </dl>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import { mapGetters } from "vuex";

const defaultForm = {
  nif: null,
  firstName: null,
  lastName: null,
  email: null,
  phone: null,
  address1: null,
  address2: null,
  zipcode4: null,
  zipcode3: null,
  zipcode_location: null,
  paymentInstrument: "CTE",
  shippingMethod: "CTT",
  clientMessage: null
};
export default {
  name: "DeliveryInfo",
  computed: {
    ...mapGetters([
      "account",
      "loggedIn",
      "paymentInstrument",
      "shippingMethod",
      "clientMessage"
    ]),
    form: function() {
      const account = Object.assign({}, { ...this.account });

      // user changed default values at UI
      if (this.paymentInstrument) {
        Object.assign(defaultForm, {
          paymentInstrument: this.paymentInstrument
        });
        Object.assign(account, { paymentInstrument: this.paymentInstrument });
      }

      if (this.shippingMethod) {
        Object.assign(defaultForm, { shippingMethod: this.shippingMethod });
        Object.assign(account, { shippingMethod: this.shippingMethod });
      }

      if (!this.loggedIn) return defaultForm;
      return account;
    }
  },
  data() {
    return {
      messageKey: null
    };
  },
  methods: {
    getPaymentInstrumentLabel(value) {
      console.log("getPaymentInstrumentLabel:", value);
      return value === "CTE" ? "Contra Entrega" : "Transferência Bancária";
    },
    getShippingMethodLabel(value) {
      console.log("getShippingMethodLabel:", value);
      return value === "CTT" ? "Correio/CTT" : "Levantar na Loja";
    }
  }
};
</script>

<style lang="scss">
.delivery-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;

  & dd {
    margin-left: 20px;
  }
}
</style>
