<template>
  <div
    class="uk-container uk-container-expand list-product-type"
    :class="{ 'list-product-type--mobile': isMobile }"
  >
    <div class="uk-margin" :class="{ 'uk-margin-left': !isMobile }">
      <form class="search uk-search uk-search-default">
        <span class="uk-search-icon-flip uk-search-icon" uk-search-icon />
        <input
          class="uk-search-input"
          type="search"
          :placeholder="$t('pages.home.filterCategories')"
          v-model="searchKey"
        />
      </form>
    </div>
    <div class="prod-type-list" :class="{ 'prod-type-list--mobile': isMobile }">
      <ul class="uk-list">
        <li v-for="item in filteredCategories" :key="item.id">
          <i
            v-if="bike"
            class="bike-icon uk-margin-small-right"
            uk-icon="tag"
            :uk-tooltip="getFilterTooltipText()"
          ></i>
          <a class="category-link uk-text-uppercase" @click="filterCatalog(item.id)">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { getItem, setItem, removeItem } from "@/utils/localStorage";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ListProductType",
  props: {
    isMobile: Boolean
  },
  data() {
    return {
      resetCache: false,
      searchKey: "",
      categories: [],
      bikeHasProducts: true
    };
  },
  computed: {
    ...mapGetters(["bike"]),
    filteredCategories: function() {
      var self = this;
      return self.categories.filter(
        ctg => ctg.name.toLowerCase().indexOf(self.searchKey.toLowerCase()) >= 0
      );
    }
  },
  methods: {
    ...mapActions(["pageReset"]),
    getFilterTooltipText() {
      return `title: ${this.$t("pages.global.filterTooltipPrefix")}:<br>${
        this.bike.label
      } (${this.bike.year})`;
    },
    getApiUrl() {
      return this.bike && this.bike.id
        ? `/product-type/filter/${this.bike.id}/${this.bike.year}`
        : "/product-type";
    },
    getCatalogPath(id) {
      return `/catalog/brand/${id}`;
    },
    getProductTypes() {
      const categs = getItem("acmProductTypes") || null;
      if (!this.resetCache && categs) {
        // cached
        return (this.categories = JSON.parse(categs));
      }
      const apiUrl = this.getApiUrl();
      Vue.axios
        .get(this.getApiUrl())
        .then(r => {
          this.categories = r.data;
          this.resetCache = false;
          setItem("acmProductTypes", JSON.stringify(r.data));
        })
        .catch(ex => {
          this.categories = [];
          removeItem("acmProductTypes");
          console.error("getProductTypes:", ex);
        });
    },
    filterCatalog(id) {
      this.pageReset(); // set back to 1
      const route = this.getCatalogPath(id);
      this.$router.push(route);
    },
    refreshProductTypes() {
      this.resetCache = true;
      this.getProductTypes();
    }
  },
  mounted() {
    this.getProductTypes();
  },
  watch: {
    // bike changed, refresh list
    bike: function() {
      this.refreshProductTypes();
    }
  }
};
</script>

<style lang="scss">
.list-product-type {
  padding: $spacing-m; // 20px
  background-color: $color-smoke;
  height: 100%;

  .uk-search-default {
    width: 230px;
  }

  .search {
    background-color: $color-white;
  }

  &--mobile {
    background-color: inherit;

    .search {
      background-color: inherit;
    }
  }

  .prod-type-list {
    width: 230px;
    min-width: 230px;
    text-align: left;
    min-height: 80vh;
    padding: 0 $spacing-m;

    ul {
      list-style-type: none;
    }

    li {
      display: block;
      padding: 2px;
    }

    li > a {
      font-size: 0.9em;
      color: $color-noir;
    }

    &--mobile {
      padding: 0;
      background-color: inherit;

      & > ul > li {
        padding-bottom: $spacing-s;

        > a {
          color: $color-vue;
        }
      }
    }
  }
}
</style>
