<template>
  <section class="page-navigation">
    <div class="uk-flex uk-flex-between">
      <div>
        <ul class="uk-pagination uk-flex-center" uk-margin>
          <li>
            <a v-if="disablePrevious" class="page-nav page-nav--disabled"
              ><span uk-pagination-previous></span>
              {{ $t("pages.catalog.pagination.previous") }}</a
            >
            <a
              v-if="!disablePrevious"
              class="page-nav"
              href="#"
              @click="previousPage"
              ><span uk-pagination-previous></span>
              {{ $t("pages.catalog.pagination.previous") }}</a
            >
          </li>
          <li>{{ page }}</li>
          <li>{{ $t("pages.catalog.pagination.of") }}</li>
          <li>{{ pageCount }}</li>
          <li>
            <a v-if="disableNext" class="page-nav page-nav--disabled"
              >{{ $t("pages.catalog.pagination.next") }}
              <span uk-pagination-next></span>
            </a>
            <a v-if="!disableNext" class="page-nav" href="#" @click="nextPage"
              >{{ $t("pages.catalog.pagination.next") }}
              <span uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
  import Vue from "vue";
  import { mapGetters, mapActions } from "vuex";

  export default {
    name: "PageNavigation",
    props: {
      pageCount: Number
    },
    computed: {
      ...mapGetters(["page"]),
      disablePrevious() {
        return this.page === 1;
      },
      disableNext() {
        return this.page === this.pageCount;
      }
    },
    methods: {
      ...mapActions(["pagePrevious", "pageNext"]),
      handleOnPagePrevious() {
        this.$emit("onPagePrevious"); // propagate to parent
      },
      handleOnPageNext() {
        this.$emit("onPageNext"); // propagate to parent
      },
      previousPage(ev) {
        ev.preventDefault();
        ev.stopPropagation();
        this.pagePrevious().then(() => this.handleOnPagePrevious());
      },
      nextPage(ev) {
        ev.preventDefault();
        ev.stopPropagation();
        this.pageNext().then(() => this.handleOnPageNext());
      }
    }
  };
</script>

<style lang="scss">
  .page-navigation {
    .page-nav {
      color: $color-dark;

      &--disabled {
        color: $color-grey;
      }
    }
  }
</style>
