<template>
  <section class="shipping-address">
    <div>
      <form
        action="#"
        class="uk-fieldset expand@m uk-width-3-4@l"
        onsubmit="return false"
      >
        <div
          v-if="!checkout && !loggedIn"
          uk-alert
          class="uk-alert uk-alert-primary"
        >
          <a class="uk-alert-close" uk-close />
          <h3>{{ $t("pages.checkout.hintLabel") }}</h3>
          <p>
            {{ $t("pages.checkout.hintText") }}
            <router-link class="uk-link-muted" to="/login">{{
              $t("pages.checkout.login")
            }}</router-link>
            {{ $t("pages.checkout.loginOr") }}
            <router-link class="uk-link-muted" to="/account/add">{{
              $t("pages.checkout.register")
            }}</router-link>
          </p>
        </div>

        <section class="uk-grid uk-form-stacked" uk-grid>
          <legend class="uk-legend">Informação Pessoal</legend>

          <div class="uk-width-1-2@s">
            <input
              class="uk-input"
              type="text"
              name="firstName"
              v-model="form.firstName"
              placeholder="Nome"
              v-validate="'required|min:3|alpha'"
              :class="{ 'vld-error': errors.has('firstName') }"
              :disabled="loggedIn"
            />
          </div>
          <div class="uk-width-1-2@s">
            <input
              class="uk-input"
              type="text"
              name="lastName"
              v-model="form.lastName"
              placeholder="Apelido"
              v-validate="'required|min:3|alpha'"
              :class="{ 'vld-error': errors.has('lastName') }"
              :disabled="loggedIn"
            />
          </div>
          <div class="uk-width-1-1">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: mail" />
              <input
                class="uk-input"
                type="email"
                name="email"
                v-model="form.email"
                placeholder="nome@email.com"
                v-validate="'required|email'"
                :class="{ 'vld-error': errors.has('email') }"
                :disabled="loggedIn"
              />
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: receiver" />
              <input
                class="uk-input"
                type="number"
                name="phone"
                v-model="form.phone"
                placeholder="Contacto"
                v-validate="'required|min:9'"
                :class="{ 'vld-error': errors.has('phone') }"
                :disabled="loggedIn"
              />
            </div>
          </div>

          <div class="uk-width-1-2@s">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: hashtag" />
              <input
                class="uk-input"
                type="text"
                name="nif"
                v-model="form.nif"
                placeholder="NIF"
                v-validate="'required|min:9'"
                :class="{ 'vld-error': errors.has('nif') }"
                :disabled="loggedIn"
              />
            </div>
          </div>

          <legend class="uk-legend uk-margin-large-top">
            Morada de Entrega
          </legend>

          <div class="uk-width-1-1">
            <input
              class="uk-input"
              type="text"
              name="address1"
              v-model="form.address1"
              placeholder="Morada"
              v-validate="'required|min:6'"
              :class="{ 'vld-error': errors.has('address1') }"
              :disabled="loggedIn"
            />
          </div>
          <div v-if="loggedIn && form.address2" class="uk-width-1-1">
            <input
              class="uk-input"
              type="text"
              name="address2"
              v-model="form.address2"
              placeholder="Morada (continuação)"
              :disabled="loggedIn"
            />
          </div>

          <div class="uk-width-1-4@s">
            <label class="uk-form-label" for="zipcode4">Código Postal</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="number"
                name="zipcode4"
                v-model="form.zipcode4"
                maxlength="4"
                placeholder="0000"
                v-validate="'required|digits:4|numeric'"
                :class="{ 'vld-error': errors.has('zipcode4') }"
                :disabled="loggedIn"
              />
            </div>
          </div>
          <div class="uk-width-1-4@s">
            <label class="uk-form-label" for="zipcode4">&nbsp;</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="number"
                name="zipcode3"
                v-model="form.zipcode3"
                maxlength="3"
                placeholder="000"
                v-validate="'required|digits:3|numeric'"
                :class="{ 'vld-error': errors.has('zipcode3') }"
                :disabled="loggedIn"
              />
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="zipcode4">&nbsp;</label>
            <div class="uk-form-controls">
              <input
                class="uk-input"
                type="text"
                name="zipcode_location"
                v-model="form.zipcode_location"
                maxlength="100"
                placeholder="Localidade"
                v-validate="'required|min:2|alpha'"
                :class="{ 'vld-error': errors.has('zipcode_location') }"
                :disabled="loggedIn"
              />
            </div>
          </div>

          <legend class="uk-legend uk-margin-large-top">
            Pagamento & Entregas
          </legend>

          <div class="uk-margin-small uk-width-1-1">
            <label class="uk-form-label" for="paymentInstrument"
              >Método pagamento</label
            >
            <div class="uk-form-controls">
              <select
                class="uk-select"
                name="paymentInstrument"
                v-model="form.paymentInstrument"
                @change="onPaymentInstrumentChange"
              >
                <option value="CTE">Contra entrega (à cobrança)</option>
                <option value="TRF">Transferência bancária</option>
              </select>
            </div>
          </div>
          <div class="uk-margin uk-width-1-1">
            <label class="uk-form-label" for="shippingMethod"
              >Método envio</label
            >
            <div class="uk-form-controls">
              <select
                class="uk-select"
                name="shippingMethod"
                v-model="form.shippingMethod"
                @change="onShippingMethodChange"
              >
                <option value="CTT">CTT</option>
                <option value="LOJA">Levantar na Loja</option>
              </select>
            </div>
          </div>
        </section>
      </form>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

const defaultForm = {
  nif: null,
  firstName: null,
  lastName: null,
  email: null,
  phone: null,
  address1: null,
  address2: null,
  zipcode4: null,
  zipcode3: null,
  zipcode_location: null,
  paymentInstrument: "CTE",
  shippingMethod: "CTT"
};
export default {
  name: "ShippingAddress",
  props: {
    checkout: Boolean
  },
  computed: {
    ...mapGetters([
      "account",
      "loggedIn",
      "basket",
      "paymentInstrument",
      "shippingMethod"
    ]),
    form: function() {
      const account = Object.assign({}, { ...this.account });

      // user changed default values at UI
      if (this.paymentInstrument) {
        Object.assign(defaultForm, {
          paymentInstrument: this.paymentInstrument
        });
        Object.assign(account, { paymentInstrument: this.paymentInstrument });
      } else {
        this.setPaymentInstrument(
          account.paymentInstrument || defaultForm.paymentInstrument
        );
      }

      if (this.shippingMethod) {
        Object.assign(defaultForm, { shippingMethod: this.shippingMethod });
        Object.assign(account, { shippingMethod: this.shippingMethod });
      } else {
        this.setShippingMethod(
          account.shippingMethod || defaultForm.shippingMethod
        );
      }

      if (!this.loggedIn) return defaultForm;
      return account;
    }
  },
  data() {
    return {
      messageKey: null
    };
  },
  methods: {
    ...mapActions(["resetCart", "setPaymentInstrument", "setShippingMethod"]),
    onPaymentInstrumentChange(ev) {
      this.setPaymentInstrument(ev.target.value);
    },
    onShippingMethodChange(ev) {
      this.setShippingMethod(ev.target.value);
    }
  }
};
</script>

<style lang="scss">
.shipping-address {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}
</style>
