<template>
  <div class="app uk-offcanvas-content">

    <div class="container">

      <header class="header__hero uk-visible@m">
        <div class="header__hero--background uk-background-cover"></div>
      </header>

      <header class="header__sticky" uk-sticky>
        <!-- mobile-header -->
        <div class="uk-width-4-4 uk-hidden@m">
          <button class="bike-button uk-button uk-button-primary uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default">
            <span class="bike-icon uk-margin-right" uk-icon="tag"></span>
            {{selectedBikeLabel}}
          </button>

          <div class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
              <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvasSlide">
                <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">
                  <div class="logo-small"></div>
                </span>
              </a>
            </div>
            <div class="uk-navbar-right">
              <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">
                  <li>
                    <router-link to="/cart">
                      <i class="cart-icon--mobile" uk-icon="icon: cart; ratio: 1.5"></i>
                      <span class="uk-badge cart-items-count--mobile">{{ cartItemsCount }}</span>
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <form class="uk-search uk-search-default site-search" v-on:submit.prevent>
            <a href="#" class="uk-search-icon-flip" uk-search-icon @click="search"></a>
            <input class="uk-search-input" type="search" placeholder="Pesquisar..." :value="keyword" @input="updateKeyword" >
          </form>
        </div>

        <!-- desktop-header -->
        <div class="l-header side-menu uk-width-4-4 uk-visible@m">
          <div class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">

              <router-link class="uk-navbar-item" to="/">
                <div class="logo-small"></div>
              </router-link>

              <ul class="uk-navbar-nav">
                <li>
                  <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
                </li>
                <li>
                  <router-link v-if="loggedIn" to="/account/edit">{{ $t("pages.menu.options.account") }}</router-link>
                </li>
                <li>
                  <router-link v-if="!loggedIn" to="/login">{{ $t("pages.menu.options.login") }}</router-link>
                </li>
                <li>
                  <router-link v-if="!loggedIn" to="/account/add">{{ $t("pages.menu.options.register") }}</router-link>
                </li>
              </ul>
            </div>

            <div class="uk-navbar-center uk-light">
              <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default">
                <i class="bike-icon" uk-icon="tag"></i>
                {{selectedBikeLabel}}
              </button>

              <!-- modal with close button -->
              <div id="modal-close-default" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <h3 class="uk-modal-title">{{ $t("widgets.bikeSelector.modalTitle") }}</h3>
                  <BikeSelector class="bike-selector__modal"></BikeSelector>
                </div>
              </div>

            </div>

            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                <li>
                  <form class="uk-search uk-search-navbar site-search" v-on:submit.prevent>
                    <i v-if="keyword" class="clear-search-button" uk-icon="icon: close; ratio: 1.5" @click="resetSearch"></i>
                    <a href="#" class="uk-search-icon-flip" uk-search-icon @click="search"></a>
                    <input class="uk-search-input" type="search" placeholder="Pesquisar..." :value="keyword" @input="updateKeyword" >
                  </form>
                </li>
              </ul>
              <div class="uk-border-circle cart-icon-container" uk-toggle="target: #offcanvasCart">
                <i class="cart-icon uk-margin-right" uk-icon="icon: cart; ratio: 1.5"></i>
                <span class="uk-badge cart-items-count">{{ cartItemsCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="main">
        <div class="main__content">
          <!--/* page content */-->
          <router-view :key="$route.fullPath" />
        </div>
        <div class="aside uk-visible@m">
          <ListProductType></ListProductType>
        </div>
      </div>

      <footer class="footer">
        <div class="tax-notice">
          <i>{{ $t("pages.global.taxIncluded", { taxRate: "23" }) }}</i>
        </div>
        <div class="footer--background uk-section uk-light uk-background-cover">
          <div class="uk-container">
            <h3>acessmotos.com <a target="_new" href="https://www.facebook.com/acessmotos/" class="uk-icon-button uk-margin-medium-left" uk-icon="facebook"></a></h3>
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                <router-link to="/contacts" class="uk-link-text">Contactos</router-link>
                <router-link to="/location" class="uk-link-text">Localização</router-link>
              </div>
              <div>
                <router-link to="/sales-rules" class="uk-link-text">Condições de Venda</router-link>
                <router-link to="/legal" class="uk-link-text">Resolução de Litígios Online</router-link>
              </div>
              <div>
                  <router-link to="/privacy" class="uk-link-text">Privacidade de dados</router-link>
                  <router-link to="/cookies" class="uk-link-text">Política de Cookies</router-link>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <!-- mobile-off-canvas-menu -->
    <div id="offcanvasSlide" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <div class="logo-small logo-small--drawer"></div>
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <section role="nav" class="mobile-nav vspacing--m uk-container uk-container-expand">
          <router-link to="/" @click.native="closeOffCanvas">{{ $t("pages.menu.options.home") }}</router-link>
          <router-link to="/account/edit" @click.native="closeOffCanvas" v-if="loggedIn">{{
            $t("pages.menu.options.account") }}</router-link>
          <router-link to="/login" @click.native="closeOffCanvas" v-if="!loggedIn">{{
            $t("pages.menu.options.login") }}</router-link>
          <router-link to="/account/add" @click.native="closeOffCanvas" v-if="!loggedIn">{{
            $t("pages.menu.options.register") }}</router-link>
          <a href="#" @click="logout" v-if="loggedIn">{{ $t("pages.menu.options.logout") }}</a>
        </section>
        <div class="prod-type-list uk-width-1-1">
          <ListProductType is-mobile></ListProductType>
        </div>
      </div>
    </div>

    <!-- desktop-cart-resume -->
    <div id="offcanvasCart" uk-offcanvas="flip: true">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3>{{ $t("pages.cart.resumeHeader") }}</h3>
        <!-- <h4>{{ $t("pages.cart.resumeSubheader") }}</h4> -->
        <CartResume :full=false></CartResume>
      </div>
    </div>

  </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Vue from "vue";
  import { mapGetters, mapActions, mapState } from "vuex";
  import { getItem } from "@/utils/localStorage";
  import ListProductType from "@/components/ListProductType.vue";
  import BikeSelector from "@/components/BikeSelector.vue";
  import CartResume from "@/components/CartResume.vue";

  export default {
    computed: {
      ...mapGetters([
        "loggedIn",
        "message",
        "cartItemsCount",
        "bike"
      ]),
      selectedBikeLabel: function () {
        return this.bike ? `${this.bike.label} (${this.bike.year})` : this.$t('pages.home.noBikeLabel');
      },
      ...mapState({
        keyword: state => state.keyword
      })
    },
    methods: {
      ...mapActions(["setSearchKeyword", "clearSearchKeyword", "siteSearch"]),
      updateKeyword (e) {
        if (!!e.target.value) {
          return this.setSearchKeyword(e.target.value);
        }
        return this.clearSearchKeyword();
      },
      search(ev) {
        ev.preventDefault();
        ev.stopPropagation();
        this.siteSearch().then(()=> {
          if (this.$route.params.id) {
            return this.$router.push("/")
          }
        });
      },
      resetSearch(ev) {
        ev.preventDefault();
        ev.stopPropagation();
        this.clearSearchKeyword();        
        this.siteSearch().then(()=> {
          if (this.$route.params.id) {
            return this.$router.push("/")
          }
        });
      },
      closeOffCanvas() {
        setTimeout(() => UIkit.offcanvas("#offcanvasSlide").hide(), 300);
      },
      logout() {
        this.$store.dispatch("logout");
        this.$router.push("/login");
        this.closeOffCanvas();
      }
    },
    components: {
      ListProductType,
      BikeSelector,
      CartResume
    }
  };
</script>

<style lang="scss">
  .app {
    background-color: $color-white;

    .container {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      margin: 0;
    }

    .main {
      display: flex;
      flex: 1;
      min-height: calc(100vh - #{$header-height} - #{$footer-height});

      &__content {
        flex: 1;
        margin: 0;
        padding: 0;
      }

      >.nav,
      >.aside {
        flex: 0 0 20vw;
        background: $color-white;
      }

      >.aside {
        order: -1;
      }
    }

    .header {
      background: $color-noir;
      color: $color-white;
      height: 60px;
    }

    .footer {
      background: $color-noir;
      height: $footer-height;
    }


    .header,
    .footer,
    .nav,
    .aside {
      margin: 0;
      padding: 0;
    }

    .main__content {
      padding: $spacing-l 0;
    }

    .aside {
      padding-top: $spacing-l;
      background: $color-smoke;
    }

    .header__hero {
      /* height: 60px;
      max-height: 60px; */
      height: $header-height;
      max-height: $header-height;

      &--background {
        width: 100%;
        height: 100%;
        background-image: url(assets/acm-banner.png);
        opacity: 0.9;
      }
    
      & .uk-background-cover {
          background-position: 50% 100%;
      }
    }

    .header__bike-selector {
      padding: 20px 40px 20px;
      background: $color-blue;
    }
  }

  .logo-small {
    width: 60px;
    height: 60px;
    background-image: url(assets/acm-logo-256.png);
    background-size: cover;
    border-radius: 50%;
    opacity: 0.8;

    &--drawer {
      margin: 0 0 20px 25px;
    }
  }

  .l-header {
    height: $header-height;
    background-color: $color-grey;
    z-index: 999;

    &--logo,
    &--nav {
      height: $header-height;
      max-height: $header-height;
      padding: 0;
    }

    .uk-navbar-container {
      background: $color-noir;
      border-bottom: 1px solid $color-grey;
    }

    .uk-navbar-left {
      padding-left: $spacing-m;
    }

    .uk-navbar-right {
      padding-right: $spacing-xl;
    }
  }

  .cart-icon-container {
    width: 60px;
    height: 60px;
    background: $color-smoke;
    /* z-index: 980; */
  }

  .cart-items-count {
    position: relative;
    bottom: 36px;
    left: 28px;
    opacity: .85;

    &--mobile {
      position: relative;
      bottom: 8px;
      left: 0;
    }
  }

  .mobile-nav {
    display: block;
    height: auto;

    a {
      display: block;
      padding-bottom: 10px;
      font-weight: bold;
      color: $color-smoke;

      &.router-link-exact-active {
        color: $color-orange;
      }
    }
  }

  .cart-icon {
    margin: 20px 16px 0;
    color: $color-orange;

    &--mobile {
      color: $color-orange;
    }
  }

  .side-menu {
    &__mobile {
      text-align: left;
    }
  }

  .bike-button {
    width: 100%;
  }

  .bike-icon {
    color: $color-orange;
  }

  .bike-selector__modal {
    height: 420px;
  }

  .bike-selector__container {
    text-align: left;
    background: $color-smoke;
  }

  #offcanvasCart>div {
    width: $cart-side-menu-width;
    min-width: $cart-side-menu-width;
  }

  .main {
    /* min-height: calc(100vh - #{$header-height} - #{$footer-height}); */
  }

  .footer {
    height: $footer-height;
    max-height: $footer-height;

    &--background {
      /* background-image: url(assets/acm-footer-bg-2.png) */
      background: $color-noir;
    }

    .tax-notice {
      color: $color-white;
      padding: 10px 40px;
      float: right;
    }
  }

  /* .site-search {
    background-color: $color-white;
  } */

  .clear-search-button {
    position: absolute;
    top: 10px;
    left: -40px;
    cursor: pointer;
  }

  @media only screen and (max-width: 425px) {
    .footer .tax-notice {
      padding: 10px 40px 20px;
      text-align: center;
      float: none;
    }
  }

  @media only screen and (max-width: 959px) {
    .site-search {
      width: 100%;
      min-width: 100%;
      background-color: $color-white;

      & .uk-search-icon-flip {
        margin-right: 20px;
      }

      & .clear-search-icon {

      }
    }
  }

  @media only screen and (min-width: 1921px) and (max-width: 2880px) {
    .header__hero {
      height: calc(#{$header-height} + 15px) !important;
      max-height: calc(#{$header-height} + 15px) !important;

      & .uk-background-cover {
        background-position: 50% 95% !important;
      }
    }
  }

  @media only screen and (min-width: 2881px) and (max-width: 3840px) {
    .header__hero {
      height: calc(#{$header-height} + 45px) !important;
      max-height: calc(#{$header-height} + 45px) !important;

      & .uk-background-cover {
        background-position: 50% 95% !important;
      }
    }
  }
</style>