<template>
  <section class="uk-container cart">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/catalog">{{
          $t("pages.menu.options.catalog")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.basket") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">{{ $t("pages.cart.header") }}</h2>
    <h3>{{ $t("pages.cart.subheader") }}</h3>
    <CartResume full></CartResume>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CartResume from "@/components/CartResume.vue";

export default {
  name: "Cart",
  components: {
    CartResume
  }
};
</script>

<style lang="scss">
.hidden {
  display: none;
}

.v-money {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  margin-bottom: 80px;
}
</style>
