<template>
  <section class="uk-container cart">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/catalog">{{
          $t("pages.menu.options.catalog")
        }}</router-link>
      </li>
      <li>
        <router-link to="/cart">{{
          $t("pages.menu.options.basket")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.checkout") }}</span>
      </li>
    </ul>
    <h3 class="uk-heading-bullet">{{ $t("pages.checkout.header") }}</h3>
    <h4 class="uk-margin-large-bottom">{{ $t("pages.checkout.subheader") }}</h4>

    <ShippingAddress></ShippingAddress>
    <ClientMessage></ClientMessage>

    <div class="uk-width-1-1 uk-margin-large">
      <button
        class="uk-button uk-button-primary"
        @click="orderResumeAndPlace()"
      >
        {{ $t("pages.checkout.resume") }}
      </button>
      <button
        class="uk-button uk-button-link uk-align-right"
        @click="onChangeMyData()"
      >
        {{ $t("pages.account.edit.header") }}
      </button>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ShippingAddress from "@/components/ShippingAddress.vue";
import ClientMessage from "@/components/ClientMessage.vue";

export default {
  name: "Checkout",
  methods: {
    // ...mapActions(["placeOrder"]),
    orderResumeAndPlace() {
      // console.info(">> Order total: " + this.basket.totals.grandTotal);
      this.$router.push("/checkout/resume");
    },
    onChangeMyData() {
      this.$router.push("/account/edit/");
    }
  },
  components: {
    ShippingAddress,
    ClientMessage
  }
};
</script>

<style lang="scss">
.hidden {
  display: none;
}

.v-money {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  margin-bottom: 80px;
}
</style>
