<template>
  <section class="uk-container resume">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <router-link to="/catalog">{{
          $t("pages.menu.options.catalog")
        }}</router-link>
      </li>
      <li>
        <router-link to="/cart">{{
          $t("pages.menu.options.basket")
        }}</router-link>
      </li>
      <li>
        <router-link to="/checkout">{{
          $t("pages.menu.options.checkout")
        }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.resume") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">{{ $t("pages.resume.header") }}</h2>
    <!-- <h3>{{ $t("pages.resume.subheader") }}</h3> -->

    <h3 class="uk-heading-line uk-text-center header-blue">
      <span>{{ $t("pages.resume.products") }}</span>
    </h3>
    <CartResume full checkout></CartResume>

    <div v-if="!isCartEmpty">
      <h3 class="uk-heading-line uk-text-center header-blue">
        <span>{{ $t("pages.resume.delivery") }}</span>
      </h3>
      <DeliveryInfo></DeliveryInfo>

      <h3 class="uk-heading-line uk-text-center header-blue">
        <span>SUBMETER ENCOMENDA</span>
      </h3>
      <div class="uk-width-1-1 uk-margin">
        <button
          class="uk-button uk-button-primary uk-button-danger uk-button-large"
          @click="placeOrders()"
          :disabled="isCartEmpty || isSubmitting"
        >
          <span uk-icon="cart"></span>
          {{ $t("pages.resume.placeOrder") }}
          <div v-if="isSubmitting && !isSubmited" uk-spinner></div>
        </button>
      </div>
      <div v-if="isSubmited" class="uk-width-1-1 uk-margin-xlarge-bottom">
        <div class="uk-alert-primary" uk-alert>
          <p>{{ $t("pages.resume.orderPlaced") }}</p>
        </div>
      </div>
      <div v-if="!isSubmited" class="uk-width-1-1 uk-margin-xlarge-bottom">
        <span class="place-order-hint" uk-icon="info"></span>
        <span>{{ $t("pages.resume.placeOrderHint") }}</span>
      </div>
    </div>
  </section>
</template>

<script>
  import Vue from "vue";
  import { mapGetters, mapActions } from "vuex";
  import CartResume from "@/components/CartResume.vue";
  import DeliveryInfo from "@/components/DeliveryInfo.vue";

  export default {
    name: "Resume",
    data() {
      return {
        isSubmitting: false,
        isSubmited: false
      };
    },
    computed: {
      ...mapGetters([
        "bike",
        "basket",
        "account",
        "paymentInstrument",
        "shippingMethod"
      ]),
      isCartEmpty: function() {
        return !this.basket.items.length;
      },
      isBikeSet: function() {
        return this.bike;
      }
    },
    methods: {
      ...mapActions(["resetCart"]),
      redirectHome() {
        setTimeout(() => {
          this.$router.push("/");
        }, 2300);
      },
      async confirmSubmitWithNoModel() {
        if (this.isBikeSet) return true;
        return await UIkit.modal.confirm(
          this.$t("pages.cart.confirmSubmitWithNoModel")
        );
      },
      async placeSingleOrder(user, item) {
        const payload = {
          modelId: item.bike.id,
          modelLabel: item.bike.label,
          modelYear: item.bike.year,
          productId: item.id,
          productQuantity: item.quantity,
          email: user.email,
          fullName: `${user.firstName} ${user.lastName}`,
          contact: user.phone,
          nif: user.nif,
          address: `${user.address1}, ${user.address2}`,
          zipCode4: "" + user.zipcode4,
          zipCode3: "" + user.zipcode3,
          zipCodeLocation: user.zipcode_location,
          message: this.basket.clientMessage, // "-AUTOMATIC_ORDER-",
          paymenMethodId: this.paymentInstrument === "CTE" ? 1 : 2,
          shippingMethodId: this.shippingMethod === "CTT" ? 1 : 2,
          refValue: item.price
        };
        // console.log("\nPlace Order:", payload);
        await Vue.axios
          .post(`/realm/order`, payload)
          .then(response => {
            console.log("Place order response:", response);
            return response.status;
          })
          .catch(ex => {
            console.error("Place order error:", ex);
            return ex;
          });
      },
      async tryPlaceOrders() {
        try {
          // TODO: warn about non-compatible products in Cart...
          const user = this.account;
          const promises = [];

          this.basket.items.forEach(async item => {
            promises.push(this.placeSingleOrder(user, item));
          });
          return await Promise.all(promises).then(results => results);
        } catch (error) {
          return error;
        }
      },
      placeOrders() {
        if (this.account.id && this.basket.items) {
          this.confirmSubmitWithNoModel()
            .then(r => {
              this.isSubmitting = true; // disable submit button, prevent duplicate orders
              this.tryPlaceOrders()
                .then(result => {
                  this.isSubmited = true;
                  this.resetCart(); // clear cart
                  this.redirectHome();
                })
                .catch(ex => {
                  this.resetCart();
                  console.error("Exception: ", ex);
                });
            })
            .catch(e => console.info("Submit cancelled"));
        } else {
          console.warn("Account not found? Token expired.");
        }
      }
    },
    components: {
      CartResume,
      DeliveryInfo
    }
  };
</script>

<style lang="scss">
  .hidden {
    display: none;
  }

  .v-money {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
  }

  .cart {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    margin-bottom: 80px;
  }

  .header-blue {
    color: $color-blue;
  }

  .place-order-hint {
    margin-right: 10px;
  }
</style>
