<template>
  <div class="uk-container contacts uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.contacts") }}
    </h2>
    <hr />

    <div class="uk-child-width-1-2@s" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <h3 class="uk-card-title">Acessmotos</h3>
          <p>
            Rua António Júlio Grilo, 1<br />
            2715-072 Pêro-Pinheiro<br />
            Portugal<br />
          </p>
        </div>
      </div>
      <br />
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <h3 class="uk-card-title">Contactos</h3>
          <p>
            Telefone: 219 270 375<br />
            Fax: 219 270 375<br />
            Telemóvel: 966 657 263<br />
            Email: acessmotas@gmail.com<br />
          </p>
        </div>
      </div>
      <br />
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <h3 class="uk-card-title">Horário</h3>
          <p>
            Segunda a Sexta: das 9h-13h / 15h-19h<br />
            Sábado: das 9h-13h<br />
            Domingo: encerrado<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Contacts"
};
</script>

<style lang="scss">
.contacts {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
