<template>
  <div class="uk-container cookies uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.cookies") }}
    </h2>
    <hr />

    <p>
      Um cookie é um pequeno arquivo que pede permissão para ser colocado no
      armazenamento do seu computador ou dispositivo móvel.
    </p>

    <p>
      Não permite acesso ao seu computador ou qualquer informação sobre você,
      com excepção dos dados que você escolher para partilhar conosco (dados do
      registo). Você pode optar por aceitar ou recusar cookies. A maioria dos
      browsers automaticamente aceita cookies, mas você pode modificar o seu
      navegador para recusar cookies. Se você preferir recusar cookies, isso
      pode impedi-lo de tirar pleno partido do site.
    </p>

    <p>
      A "Acessmotos" usa esse cookie para armazenar e identificar os
      utilizadores, quando estes estão identificados no website. Isso ajuda-nos
      a pré-preencher os seus dados na página web e no formulário de encomenda,
      e melhorar o nosso site a fim de adequá-lo às necessidades do cliente.
      Sempre que sai (logout) esses dados são imediatamente removidos do no
      armazenamento do seu computador ou dispositivo móvel.
    </p>

    <p>
      Permite, de igual modo, ser "automaticamente" reconhecido e autenticado
      nas próximas visitas, mesmo se fechar o browser - evitando que tenha que
      lembrar-se e introduzir o seu email e password a cada visita.
    </p>

    <p>
      No geral, os cookies permitem a fornecer-lhe um site melhor, pois
      permite-nos facilitar a obtenção prévia e preenchimento automático de
      informações que de outro modo teriam que ser sucessivamente introduzidas
      em cada passo do processo de encomenda.
    </p>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Cookies"
};
</script>

<style lang="scss">
.cookies {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
