<template>
  <div class="uk-container legal uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.legal") }}
    </h2>
    <hr />

    <p>
      Na União Europeia existe um espaço online para apoio dos consumidores na
      apresentação de reclamações sobre qualquer litígio em que estejam
      envolvidos. Neste âmbito, disponibilizamos toda a informação para que
      possa exercer o seu direito de reclamação junto de uma entidade oficial,
      terceira e imparcial ao processo. Assim, se ficou insatisfeito com a
      aquisição de um bem ou serviço no nosso site, ou com a solução por nós
      apresentada para resolver a situação, pode aceder a este site oficial e
      expor a sua contestação.
    </p>

    <h5>O QUE É?</h5>

    <p>
      Todos os consumidores podem recorrer à resolução alternativa de litígios e
      procurar ajuda na reloução das entidades oficiais competentes, ou
      orientação de algum conflito, antes de abrirem processos litigioso nos
      Tribunais. Regra geral, o procedimento é o seguinte: o cliente pede a um
      terceiro imparcial que intervenha como intermediário entre si e o
      comerciante que é o alvo da sua reclamação. O intermediário pode sugerir
      uma solução para a sua reclamação, impor uma solução a ambas as partes ou
      reunir as partes para encontrar uma solução.
    </p>

    <p>
      A resolução alternativa de litígios pode ser referenciada por outros
      nomes: ‘mediação’, ‘conciliação’, ‘arbitragem’ ou ‘comissão competente no
      âmbito dos litígios de consumo’.
    </p>

    <p>
      Esta é por norma menos dispendiosa, menos formal e mais rápida do que a
      via judicial.
    </p>

    <h5>ENTIDADES DE RESOLUÇÃO ALTERNATIVA DE LITÍGIO</h5>

    <p>
      CNIACC – Centro Nacional de Informação e Arbitragem de Conflitos de
      Consumo<br />
      <a class="uk-link-muted" href="http://www.arbitragemdeconsumo.org/"
        >http://www.arbitragemdeconsumo.org</a
      >
    </p>

    <p>
      Centro de Arbitragem de Conflitos de Consumo de Lisboa<br />
      <a class="uk-link-muted" href="http://www.centroarbitragemlisboa.pt/"
        >http://www.centroarbitragemlisboa.pt</a
      >
    </p>

    <p>
      CIAB – Centro de Informação, Mediação e Arbitragem de Consumo (Tribunal
      Arbitral de Consumo)<br />
      <a class="uk-link-muted" href="http://www.ciab.pt/pt/"
        >http://www.ciab.pt</a
      >
    </p>

    <p>
      CIMPAS – Centro de Informação, Mediação e Provedoria de Seguros<br />
      <a class="uk-link-muted" href="https://www.cimpas.pt/"
        >https://www.cimpas.pt</a
      >
    </p>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Legal"
};
</script>

<style lang="scss">
.legal {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
