<template>
  <div class="uk-container location uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.location") }}
    </h2>
    <hr />

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5162.304700043228!2d-9.330519077030116!3d38.8557001404379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ed0d7133e91f1%3A0xaedb8e3dc759274a!2sR.+Ant%C3%B3nio+J%C3%BAlio+Grilo+1%2C+2715-311+P%C3%AAro+Pinheiro!5e0!3m2!1sen!2spt!4v1565291153459!5m2!1sen!2spt"
      width="600"
      height="450"
      frameborder="0"
      style="width: 100%; min-height:400px; heborder:0"
      allowfullscreen
    >
    </iframe>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Location"
};
</script>

<style lang="scss">
.location {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
