<template>
  <div class="uk-container privacy uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.privacy") }}
    </h2>
    <hr />

    <p>
      A “Acessmotos.com” respeita na integra o direito à privacidade de dados
      pessoais dos seus clientes e utilizadores do seu website.
    </p>

    <p>
      A presente Política de Proteção de Dados descreve o tratamento dado ás
      informações de carácter pessoal recolhidas neste site.
    </p>

    <p>
      Os dados recolhidos estão sujeitos a processamento automatizado,
      destinando-se a dar seguimento ao seu pedido.
    </p>

    <p>
      A qualquer momento o cliente poderá solicitar a consulta, correção ou
      atualização da sua informação pessoal através das várias formas de
      contacto disponibilizadas.
    </p>

    <p>
      A “Acessmotos.com” toma as precauções ao seu alcance no sentido de
      garantir a proteção e integridade dos dados pessoais registados. No
      entanto os utilizadores reconhecem que o sistema é suportado por uma
      plataforma informática e uma rede aberta (internet) sujeito a tentativas
      de intrusão e a falhas de funcionamento intrínsecas aos próprios sistemas.
    </p>

    <p>
      O site poderá ter acesso a links para outros sites externos cujos
      conteúdos e Política de Proteção de Dados não são da responsabilidade da
      “Acessmotos.com”.
    </p>

    <p>
      Em momento algum a “Acessmotos.com” partilha a informação do cliente com
      outras empresas do mesmo grupo ou empresas terceiras.
    </p>

    <p>
      Não recolhemos informações relativas ao browser, endereço de IP, páginas
      visitadas ou outras informações não pessoais.
    </p>

    <p>
      A “Acessmotos.com” reserva-se o direito de alterar esta Política de
      Proteção de Dados. Assim recomendamos, a sua leitura periódica.
    </p>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Privacy"
};
</script>

<style lang="scss">
.privacy {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
