<template>
  <div class="uk-container sales-rules uk-margin-large-bottom">
    <ul class="uk-breadcrumb">
      <li>
        <router-link to="/">{{ $t("pages.menu.options.home") }}</router-link>
      </li>
      <li>
        <span>{{ $t("pages.menu.options.info.label") }}</span>
      </li>
    </ul>
    <h2 class="uk-heading-bullet">
      {{ $t("pages.menu.options.info.salesRules") }}
    </h2>
    <hr />

    <h5>1º - Criação da ficha de cliente:</h5>
    <ul>
      <li>
        A criação da ficha de cliente é considerada como válida após a activação
        feita através do link enviado para o email de registo e criaçao de
        password privada;
      </li>
      <li>
        A ficha de cliente deverá de ser devidamente preenchida, ou seja, todos
        os campos deverão estar completos, com os devidos espaçamentos entre os
        algarismos.
      </li>
    </ul>

    <h5>2º - Encomendas:</h5>
    <ul>
      <li>
        A Acessmotos reserva-se o direito de alterar preços, incluír ou excluír
        produtos sem aviso prévio; o preço do produto a cobrar será o que
        estiver em vigor na altura da colocação da encomenda.
      </li>
    </ul>

    <h5>3.º - Confirmação:</h5>
    <ul>
      <li>
        Após a recepção do pedido de encomenda, o mesmo será confirmado por
        email. Poderá ser igualmente contactado por telefone, caso necessário.
      </li>
      <li>
        A acessmotos.com trata-se de um catálogo de artigos online: pontualmente
        poderá não existir stock, ou em quantidades suficientes para satisfazer
        a encomenda; neste caso o Cliente será informado do tempo de entrega,
        após confirmação de disponíbilidade junto dos nossos fornecedores.
      </li>
      <li>
        Sempre que o Cliente não encontre o produto que deseja deve
        contactar-nos; será informado sobre a possibilidade de encomenda, do
        valor e prazos de entrega. Nota: nestes casos o pagamento é feito na
        altura da encomenda, por transferência bancária.
      </li>
    </ul>

    <h5>4º - Formas de Pagamento:</h5>
    <ul>
      <li>
        Pagamento por Transferência Bancária;<br />
        Após a efectuação da Transferência Bancária, e para um processamento
        mais célere, o Cliente deve enviar o comprovativo de pagamento através
        de email para
        <a class="uk-link-muted" href="mailto:acessmotas@gmail.com"
          >acessmotas@gmail.com</a
        >
        com a indicação do n.º da encomenda no assunto.
      </li>
      <li>
        Pagamento à Cobrança. Neste caso, os portes são pagos por transferência;
      </li>
    </ul>

    <h5>5.º - Envio:</h5>
    <ul>
      <li>As encomendas serão enviadas por via CTT ou CTT Expresso;</li>
      <li>
        Os portes serão suportados pelos clientes, e calculados com base tabelas
        CTT que podem ser
        <a
          class="uk-link-muted"
          target="_new"
          href="https://www.ctt.pt/correio-e-encomendas/enviar-correio/opcoes-de-envio/encomendas.html#panel2-1"
          >consultadas aqui</a
        >
        <span uk-icon="link" />.
      </li>
      <li>
        O Cliente deve verificar no acto da entrega:<br />
        - Se a embalagem apresenta algum dano<br />
        - Se está aberta ou aparenta sinais de ter sido aberta<br />
        Em qualquer dos casos:<br />
        - Tire fotografias à embalagem e solicite que o responsável pela entrega
        permaneça no local enquanto abre a mesma.<br />
        - Se confirmar que faltam produtos ou os mesmos apresentam danos deve
        apresentar imediatamente reclamação formal ao transportador.
      </li>
    </ul>

    <h5>6.º - Garantias</h5>
    <ul>
      <li>
        Os artigos têm garantia de 1 ano contra defeitos de fabrico, salvo
        indicação explicita na descrição do produto ou na embalagem.
      </li>
      <li>
        A reparação ou substituiçao em garantia está sujeito a uma verificação
        do artigo por parte do representante, bem como o enquadramento nas
        condições de garantia prestadas pelo mesmo.
      </li>
    </ul>

    <h5>7.º - Trocas/Devoluções</h5>
    <ul>
      <li>
        Se verificar que o artigo entregue apresenta defeito, ou no caso se não
        corresponder ao produto encomendado, por favor contacte-nos para
        resolução imediata.
      </li>
      <li>
        Será necessário o envio do artigo sem indícios de utilização, com todos
        os seus componentes e acessórios, manual de instruções e embalagens
        originais em perfeito estado.
      </li>
    </ul>

    <h5>8.º - Considerações gerais</h5>
    <ul>
      <li>
        Ao visitar a nossa loja on-line
        <a class="uk-link-muted" href="www.acessmotos.com"
          >www.acessmotos.com</a
        >
        estará automaticamente e implicitamente a aceitar os nossos termos &
        condições.
      </li>
      <li>
        O nosso site contém diversas marcas que pertencem a terceiros. A
        utilização de logótipos, ícones, marcas, imagens e textos sem
        autorização prévia e escrita é proibida, sendo considerada infração.
      </li>
      <li>
        A Acessmotos reserva-se o direito de alterar estes termos e condições a
        qualquer momento e sem notificação prévia.
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "SalesRules"
};
</script>

<style lang="scss">
.sales-rules {
  text-align: left;

  &__card {
    width: 50vw;
    min-width: 340px;
    max-width: 480px;
  }

  pre {
    padding: 10px;
    text-align: left;
  }
}
</style>
